<% @active_page = 'teams' %>

<div class="page-header"><h2>Teams</h2></div>
<% if user_admin? %>
<p style="margin-bottom:30px;"><%= link_to 'Create a new Team', new_team_path, class: 'btn btn-small btn-primary' %></p>
<% end %>
<ul class="unstyled">
  <% for team in @teams %>
  <li id="team_<%= team.id %>">
    <%= "#{team.id}: #{team.name}" %>
    | <%= link_to 'Edit', edit_team_path(team) %>
    | <%= link_to 'Delete', team, method: 'delete', data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>