<% @active_page = 'teams' %>

<div class="page-header"><h2>Teams</h2></div>
<% if user_admin? %>
<%= form_for @new_team, html: { class: 'form-inline', style: 'margin-bottom:25px;' } do |f| %>
<%= f.text_field :name, placeholder: 'Name' %>
<%= f.submit 'Create Team', class: 'btn btn-primary' %>
<% end %>
<% end %>
<table id="teams" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% for team in @teams %>
    <tr>
      <td style="width:70px;"><%= link_to 'Edit Roster', roster_edit_team_url(team), class: 'btn btn-primary btn-mini' %></td>
      <td style="width:50px;"><%= button_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %></td>
      <td><%= team.name %></td>
    </tr>
    <% end %>  
  </tbody>
</table>