- @active_page = 'seasons'
.page-header
  %h2 Seasons
%div{ style: 'text-align:center;' }
  = form_tag seasons_path, { method: :put, class: 'form-inline', style: 'margin-bottom:25px;' } do
    Current Season:
    - if @current_season
      = select_tag "current_season", options_from_collection_for_select(@seasons, "id", "name", @current_season.id)
    - else
      = select_tag "current_season", options_from_collection_for_select(@seasons, "id", "name"), include_blank: true
    = submit_tag "Update", class: 'btn'

= form_for @new_season, html: { class: 'form-inline', style: 'margin-bottom:25px;' }   do |f|
  = f.text_field :name, placeholder: 'Name', required: true
  = f.number_field :number, placeholder: 'Number', required: true
  = f.submit 'Create Season', class: 'btn btn-primary'
  
%table.table.table-striped
  %thead
    %tr
      %th{ style: 'width:25px;' }
      %th{ style: 'width:40px;' }
      %th{ style: 'width:70px;' }
      %th Name
      %th # of Games
      %th # of Teams
      %th # of Sun Teams
      %th # of Sat Teams
      %th # of Wkd Teams
      %th # of Other Teams
      //%th Sun Reg Games
      //%th Sun Playoff Games
      //%th Sat Reg Games
      //%th Sat Playoff Games
      //%th Wk Reg Games
      //%th Wk Playoff Games
  %tbody
    %tr
      %td
      %td
      %td
      %td{ style: 'font-weight: bold;' } Totals
      %td{ style: 'font-weight: bold;' }= Game.count
      %td{ style: 'font-weight: bold;' }= TeamSpot.count
      %td{ style: 'font-weight: bold;' }= TeamSpot.where(league_id: 1).count
      %td{ style: 'font-weight: bold;' }= TeamSpot.where(league_id: 2).count
      %td{ style: 'font-weight: bold;' }= TeamSpot.where(league_id: 3).count
      %td{ style: 'font-weight: bold;' }= TeamSpot.where(league_id: [4,5]).count
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 1).select{|g| !g.week.try(:playoffs) }.count
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 1).select{|g| g.week.try(:playoffs) }.count
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 2).select{|g| !g.week.try(:playoffs) }.count
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 2).select{|g| g.week.try(:playoffs) }.count       
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 3).select{|g| !g.week.try(:playoffs) }.count       
      //%td{ style: 'font-weight: bold;' }= Game.where(league_id: 3).select{|g| g.week.try(:playoffs) }.count             
    - for season in @seasons
      %tr
        %td= link_to 'Edit', edit_season_path(season), class: 'btn btn-primary btn-mini'
        %td
        / %td= button_to 'Delete', season, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini'
        %td= link_to 'Edit Teams', team_list_edit_season_path(season), class: 'btn btn-info btn-mini'
        - if season.current
          %td= "#{season.number} - #{season.name} (Current)"
        - else
          %td= "#{season.number} - #{season.name}"
        %td= season.games.count
        %td= season.teams.count
        %td= TeamSpot.where(season_id: season.id).where(league_id: 1).count
        %td= TeamSpot.where(season_id: season.id).where(league_id: 2).count
        %td= TeamSpot.where(season_id: season.id).where(league_id: 3).count
        %td= TeamSpot.where(season_id: season.id).where(league_id: [4,5]).count
        //%td= season.games.where(league_id: 1).select{|g| !g.week.try(:playoffs) }.count
        //%td= season.games.where(league_id: 1).select{|g| g.week.try(:playoffs) }.count
        //%td= season.games.where(league_id: 2).select{|g| !g.week.try(:playoffs) }.count
        //%td= season.games.where(league_id: 2).select{|g| g.week.try(:playoffs) }.count       
        //%td= season.games.where(league_id: 3).select{|g| !g.week.try(:playoffs) }.count       
        //%td= season.games.where(league_id: 3).select{|g| g.week.try(:playoffs) }.count             