<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th style="text-align:left;">PLAYER</th>
      <th>FG</th>
      <th>3PT</th>
      <th>FT</th>
      <th>OREB</th>
      <th>DREB</th>
      <th>REB</th>
      <th>AST</th>
      <th>STL</th>
      <th>BLK</th>
      <th>TO</th>
      <th>PF</th>
      <th>PTS</th>
    </tr>
  </thead>
  <tfoot>
    <tr style="font-weight:bold;">
      <td></td>
      <td style="text-align:left;">TOTALS</td>
      <% totals = total_stat_lines(stat_lines) %>
      <td><%= "#{totals.fgm.round}-#{totals.fga.round}" %><%= " (#{number_to_percentage(totals.fgpct * 100.0, precision: 1)})" if totals.fgpct %></td>
      <td><%= "#{totals.threem.round}-#{totals.threea.round}" %><%= " (#{number_to_percentage(totals.threepct * 100.0, precision: 1)})" if totals.threepct %></td>
      <td><%= "#{totals.ftm.round}-#{totals.fta.round}" %><%= " (#{number_to_percentage(totals.ftpct * 100.0, precision: 1)})" if totals.ftpct %></td>
      <td><%= totals.orb.round %></td>
      <td><%= totals.drb.round %></td>
      <td><%= totals.trb.round %></td>
      <td><%= totals.ast.round %></td>
      <td><%= totals.stl.round %></td>
      <td><%= totals.blk.round %></td>
      <td><%= totals.to.round %></td>
      <td><%= totals.fl.round %></td>
      <td><%= totals.points.round %></td>
    </tr>
  </tfoot>
  <tbody>
    <% stat_lines.sort_by {|s| [s.jersey_number ? s.jersey_number : 1000, s.player ? s.player.last_name : 'Sub']}.select { |stat| !stat.dnp }.each do |stat| %>
    <tr>
      <td><%= stat.jersey_number%></td>
      <% if stat.player %>
      <td style="text-align:left;"><%= link_to stat.player.name, stat.player %></td>
      <% else %>
      <td style="text-align:left;">Sub</td>
      <% end %>
      <td><%= "#{stat.fgm.round}-#{stat.fga.round}" %><%= " (#{number_to_percentage(stat.fgpct * 100.0, precision: 1)})" if stat.fgpct %></td>
      <td><%= "#{stat.threem.round}-#{stat.threea.round}" %><%= " (#{number_to_percentage(stat.threepct * 100.0, precision: 1)})" if stat.threepct %></td>
      <td><%= "#{stat.ftm.round}-#{stat.fta.round}" %><%= " (#{number_to_percentage(stat.ftpct * 100.0, precision: 1)})" if stat.ftpct %></td>
      <td><%= stat.orb.round %></td>
      <td><%= stat.drb.round %></td>
      <td><%= stat.trb.round %></td>
      <td><%= stat.ast.round %></td>
      <td><%= stat.stl.round %></td>
      <td><%= stat.blk.round %></td>
      <td><%= stat.to.round %></td>
      <td><%= stat.fl.round %></td>
      <td><%= stat.points.round %></td>
    </tr>
    <% end %>
  </tbody>
</table>