<div class="page-header" style="text-align:center;">
  <h2>Box Score</h2>
  <h3><%= "#{@game.away_team.name} @ #{@game.home_team.name}" %></h3>
  <%= link_to "Edit Box Score", boxscore_edit_game_path(@game), class: "btn btn-primary" %>
</div>
<table id="scores" class="table table-nonfluid">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <% if @ot_one %><th>OT</th><% end %>
      <% if @ot_two %><th>2OT</th><% end %>
      <% if @ot_three %><th>3OT</th><% end %>
      <th style="font-weight:bold;">T</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.away_team.name %></td>
      <td><%= @game.away_score_first %></td>
      <td><%= @game.away_score_second %></td>
      <% if @ot_one %><td><%= @game.away_score_ot_one %></td><% end %>
      <% if @ot_two %><td><%= @game.away_score_ot_two %></td><% end %>
      <% if @ot_three %><td><%= @game.away_score_ot_three %></td><% end %>
      <td style="font-weight:bold;"><%= @game.away_score %></td>
    </tr>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.home_team.name %></td>
      <td><%= @game.home_score_first %></td>
      <td><%= @game.home_score_second %></td>
      <% if @ot_one %><td><%= @game.home_score_ot_one %></td><% end %>
      <% if @ot_two %><td><%= @game.home_score_ot_two %></td><% end %>
      <% if @ot_three %><td><%= @game.home_score_ot_three %></td><% end %>
      <td style="font-weight:bold;"><%= @game.home_score %></td>
    </tr>
  </tbody>
</table>
<div id="boxscore">
  <h3><%= @game.away_team.name %></h3>
  <%= render "team_stats", team: @game.away_team, stat_lines: @game.team_stats(@game.away_team.id) %>
  <h3><%= @game.home_team.name %></h3>
  <%= render "team_stats", team: @game.home_team, stat_lines: @game.team_stats(@game.home_team.id) %>
</div>