<div class="page-header" style="text-align:center;">
  <h2>Box Score</h2>
  <h3><%= "#{@game.away_team.name} @ #{@game.home_team.name}" %></h3>
  <%= link_to "Edit Box Score", boxscore_edit_game_path(@game), class: "btn btn-primary" %>
</div>
<% if @game.forfeit %>
<div style="text-align:center;">
  <h3><b>FORFEIT</b></h3>
  <p><b>Winner: <%= @game.winning_team.name if @game.winning_team %></b></p>
</div>
<% else %>
<table id="scores" class="table table-nonfluid">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <% if @ot_one %><th>OT</th><% end %>
      <% if @ot_two %><th>2OT</th><% end %>
      <% if @ot_three %><th>3OT</th><% end %>
      <th style="font-weight:bold;">T</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.away_team.name %></td>
      <td><%= @game.away_score_first %></td>
      <td><%= @game.away_score_second %></td>
      <% if @ot_one %><td><%= @game.away_score_ot_one %></td><% end %>
      <% if @ot_two %><td><%= @game.away_score_ot_two %></td><% end %>
      <% if @ot_three %><td><%= @game.away_score_ot_three %></td><% end %>
      <td style="font-weight:bold;"><%= @game.away_score %></td>
    </tr>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.home_team.name %></td>
      <td><%= @game.home_score_first %></td>
      <td><%= @game.home_score_second %></td>
      <% if @ot_one %><td><%= @game.home_score_ot_one %></td><% end %>
      <% if @ot_two %><td><%= @game.home_score_ot_two %></td><% end %>
      <% if @ot_three %><td><%= @game.home_score_ot_three %></td><% end %>
      <td style="font-weight:bold;"><%= @game.home_score %></td>
    </tr>
  </tbody>
</table>
<% end %>
<div id="boxscore">
  <h3><%= @game.away_team.name %></h3>
  <%= render "team_stats", team: @game.away_team, stat_lines: @game.team_stats(@game.away_team.id) %>
  <h3><%= @game.home_team.name %></h3>
  <%= render "team_stats", team: @game.home_team, stat_lines: @game.team_stats(@game.home_team.id) %>
</div>

<div class="clearfix left">
<table id="scores" class="table table-nonfluid">
  <thead>
    <tr>
      <th>Top Performers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.top_scorer[:name] %></td>
      <% if @game.top_scorer[:team] %>
        <td><%= @game.top_scorer[:team] %></td>
      <% end %>
      <td><%= @game.top_scorer[:points]%> Points</td>
    </tr>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.second_top_performer[:name]%></td>
      <% if @game.second_top_performer[:team] %>
        <td><%= @game.second_top_performer[:team]%></td>
      <% end %>
      <td><%= @game.second_top_performer[:stat_value] %> <%= @game.second_top_performer[:stat_name] %></td>
    </tr>
    <% if @game.third_top_performer %>
      <tr>
        <td style="text-align:left; font-weight:bold;"><%= @game.third_top_performer[:name]%></td>
        <% if @game.third_top_performer[:team] %>
          <td><%= @game.third_top_performer[:team]%></td>
        <% end %>
        <td><%= @game.third_top_performer[:stat_value] %> <%= @game.third_top_performer[:stat_name] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left"><p></p></div>
<div class="clearfix left">
<table id="scores" class="table table-nonfluid">
  <thead>
    <tr>
      <th>Player of the Game</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left; font-weight:bold;"><%= @game.player_of_the_game[:name]%></td>
      <td><%=@game.player_of_the_game[:team]%></td>
      <td><%= @game.player_of_the_game[:Points] %> Points</td>
      <td><%= @game.player_of_the_game[:Rebounds] %> Rebounds</td>
      <td><%= @game.player_of_the_game[:Assists] %> Assists</td>
      <td><%= @game.player_of_the_game[:Steals] %> Steals</td>
    </tr>
  </tbody>
</table>
</div>
