<div class="page-header">
  <h2><%= @team.name %> Roster</h2>
</div>
<form action="<%= roster_edit_team_path(@team) %>" method="get">
  <%= select_tag "season", options_from_collection_for_select(@seasons, "id", "name", @selected_season.id), { onchange: 'this.form.submit();', style: 'font-weight:bold;' } %>
</form>
<div class="row" style="margin-bottom:25px;">
  <div class="span3">
    <h3>Create a Player</h3>
    <%= form_for @new_player, url: roster_edit_team_path(@team) do |f| %>
    <%= f.text_field :first_name, placeholder: 'First' %>
    <%= f.text_field :last_name, placeholder: 'Last' %>
    <%= f.number_field :number, placeholder: '#', class: 'input-mini', style: 'float:left;', min: 0 %>
    <%= f.select :position, ['PG', 'SG', 'SF', 'PF', 'C'], { prompt: 'Pos' }, class: 'input-mini', style: 'float:left; margin-left:10px; width:74px;' %>
    <%= f.number_field :height_feet, placeholder: 'Feet', class: 'input-mini', style: 'clear:both; float:left;', min: 0 %>
    <%= f.number_field :height_inches, placeholder: 'Inches', class: 'input-mini', style: 'float:left; margin-left:10px;', min: 0 %>
    <%= f.text_field :school, placeholder: 'School', style: 'clear:both;' %>
    <%= f.text_field :hometown, placeholder: 'Hometown' %>
    <%= hidden_field_tag :season_id, @selected_season.id %>
    <%= f.submit 'Create and Add to Roster', class: 'btn btn-primary', style: 'width:220px;' %>
    <% end %>
  </div>
  <div class="span9">
    <h3>Find a Player</h3>
    <table id="findPlayer" class="table table-striped" data-source="<%= datatables_players_url(format: "json") %>">
      <thead>
        <tr>
          <th></th>
          <th>First</th>
          <th>Last</th>
          <th></th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h3>Roster</h3>
  <table id="roster" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>First</th>
        <th>Last</th>
        <th>
          <%= form_tag({}, id: 'form_update_numbers', method: :put) do %>
          <%= hidden_field_tag :season_id, @selected_season.id %>
          <%= submit_tag "Save Changes", class: "btn btn-primary btn-mini" %>
          <% end %>
          Jersey #
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= submit_tag "Save Changes", class: "btn btn-primary btn-mini", form: 'form_update_numbers' %></td>
      </tr>
    </tfoot>
    <tbody>
      <% for roster_spot in @team.roster(@selected_season.id).sort_by { |r| [r.player.last_name, r.player.first_name] } %>
        <% player = roster_spot.player %>
        <tr onclick="document.location = '<%= player_path(player) %>';">
          <td style="width:25px;">
            <%= form_tag({}, method: :delete) do %>
            <%= hidden_field_tag :roster_spot_id, roster_spot.id %>
            <%= hidden_field_tag :season_id, @selected_season.id %>
            <%= submit_tag "Remove", class: "btn btn-mini btn-danger" %>
            <% end %>
          </td>
          <td><%= player.first_name %></td>
          <td><%= player.last_name %></td>
          <td>
            <%= number_field_tag "roster_spots[#{roster_spot.id}[jersey_number]]", roster_spot.jersey_number, class: 'input-mini', form: 'form_update_numbers', min: 0 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>