.page-header
  %h2 Edit Dates
%form{ action: edit_dates_path, method: :get }
  = select_tag "season", options_from_collection_for_select(@seasons, "id", "name", @selected_season.id), { onchange: 'this.form.submit();', style: 'font-weight:bold; margin-bottom:20px' }
= form_tag dates_path, method: :put do
  = hidden_field_tag :season_id, @selected_season.id
  %table.table.table-striped
    %thead
      %tr
        %th Start Date
        %th End Date
        %th Name
        %th Short Name
        %th Playoffs
    %tbody
      - @date_ranges.each do |date_range|
        = fields_for date_range do |f|
          %tr
            %td= f.text_field :start_date, name: "date_ranges[#{date_range.id}[start_date]]", "data-behavior" => "datepicker", value: date_range.start_date.strftime('%m/%d/%Y'), required: true
            %td= f.text_field :end_date, name: "date_ranges[#{date_range.id}[end_date]]", "data-behavior" => "datepicker", value: date_range.end_date.strftime('%m/%d/%Y'), required: true
            %td= f.text_field :name, name: "date_ranges[#{date_range.id}[name]]", required: true
            %td= f.text_field :short_name, name: "date_ranges[#{date_range.id}[short_name]]", required: true
            %td= f.check_box :playoffs, name: "date_ranges[#{date_range.id}[playoffs]]"
  = submit_tag "Save Changes", class: 'btn btn-primary'
  = link_to "Cancel", dates_path(season: @selected_season.id), class: "btn"