<%= simple_form_for @game, defaults: { input_html: { class: 'input-block-level' }, label_html: { class: 'hide' } } do |f| %>
<fieldset>
  <% if header %><legend><%= header %></legend><% end %>
  <%= f.association :season , prompt: 'Season' %>
  <%= f.association :home_team, prompt: 'Home Team' %>
  <%= f.association :away_team, prompt: 'Away Team' %>
  <div class="form-inline">
    <%= f.input :date, input_html: { class: 'input-small' }, :wrapper_html => { style: 'text-align:center;' } %>
  </div>
  <div class="form-inline">
    <%= f.input :time, input_html: { class: 'input-small' }, :wrapper_html => { style: 'text-align:center;' }, ampm: true %>
  </div>
  <%= f.button :submit, class: 'btn-primary btn-large  btn-block' %>
</fieldset>
<% end %>