<div class="page-header"><h2>Add New Games</h2></div>
<form action="<%= new_game_path %>" method="get">
  <%= select_tag "season", options_from_collection_for_select(@seasons, "id", "name", @selected_season.id), { onchange: 'this.form.submit();', style: 'font-weight:bold; margin-bottom:20px' } %>
</form>
<%= form_tag games_path do %>
<%= hidden_field_tag :season_id, @selected_season.id %>
<p class="form-inline" style="margin-bottom: 20px;">
  <input name="date" type="text" data-behavior="datepicker" value="<%= Date.today.strftime('%m/%d/%Y') %>">
  <%= select_tag "location_id", options_from_collection_for_select(Location.order(:name), "id", "name"), prompt: 'Location' %>
</p>
<table class="table table-striped">
  <tbody>
    <% @games.each_with_index do |game, index| %>
    <tr>
      <td>
        <%= simple_fields_for game, defaults: { label: false, wrapper_html: { style: 'float:left; margin-bottom:0px; margin-right:10px;' }, input_html: { style: 'margin-bottom:0px;' } } do |f| %>
        <%= select_tag "games[game#{index}[time]]", options_for_select(@times, "12:00 PM"), style: 'float:left; margin-bottom:0px; margin-right:10px;' %>
        <%= f.association :home_team, prompt: 'Home Team', collection: @teams, input_html: { name: "games[game#{index}[home_team_id]]" } %>
        <%= f.association :away_team, prompt: 'Away Team', collection: @teams, input_html: { name: "games[game#{index}[away_team_id]]" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Add Games", class: 'btn btn-primary' %>
<% end %>