<%= simple_form_for @player, html: { multipart: true }, defaults: { input_html: { class: 'input-block-level' }, label_html: { class: 'hide' } } do |f| %>
  <fieldset>
    <% if header %><legend><%= header %></legend><% end %>
    <%= f.input :first_name, placeholder: 'First', input_html: { autofocus: 'autofocus' } %>
    <%= f.input :last_name, placeholder: 'Last' %>
    <%= f.input :display_name, placeholder: 'Display Name' %>
    <%= f.number_field :number, placeholder: '#', class: 'input-mini', style: 'float:left;' %>
    <%= f.select :position, ['PG', 'SG', 'SF', 'PF', 'C'], { prompt: 'Pos' }, class: 'input-mini', style: 'float:left; margin-left:10px; width:74px;' %>
    <%= f.number_field :height_feet, placeholder: 'Feet', class: 'input-mini', style: 'clear:both; float:left;' %>
    <%= f.number_field :height_inches, placeholder: 'Inches', class: 'input-mini', style: 'float:left; margin-left:10px;' %>
    <%= f.input :school, placeholder: 'School', style: 'clear:both;' %>
    <%= f.input :hometown, placeholder: 'Hometown' %>
    <div class="control-group date optional player_birthday">
      <div class="controls">
        <input name="player[birthday]" class="input-block-level" type="text" data-behavior="datepicker" placeholder="Birthday" value="<%= @player.birthday.strftime('%m/%d/%Y') if @player.birthday %>">
      </div>
    </div>
    <%= f.input :day_job, placeholder: 'Day Job' %>
    <%= f.input :about, placeholder: 'More About', input_html: { rows: 3 } %>
    <%= f.input :profile_pic_url, placeholder: 'Profile Pic URL' %>
    <%= f.input :profile_pic_thumb_url, placeholder: 'Profile Pic Thumb URL' %>
    <p style="font-weight:bold;">Social Media URLs</p>
    <% social_media_options = [['Facebook', 'facebook'], ['Twitter', 'twitter'], ['Instagram', 'instagram'], ['LinkedIn', 'linkedin'], ['Tumblr', 'tumblr'], ['Flickr', 'flickr'], ['Google+', 'googleplus'], ['You Tube', 'youtube'], ['Vimeo', 'vimeo'], ['Vine', 'vine'], ['Email', 'email']] %>
    <div id="social_media_urls">
      <% if @player.social_media_urls.any? %>
        <% @player.social_media_urls.each_with_index do |(type, value), i| %>
          <%= select_tag "social_media[#{i+1}]", options_for_select(social_media_options, "#{type}"), class: 'input-medium' %>
          <%= text_field_tag "social_media_values[#{i+1}]", value, class: 'input-block-level' %>
        <% end %>
      <% else %>
        <%= select_tag 'social_media[1]', options_for_select(social_media_options, 'facebook'), class: 'input-medium' %>
        <%= text_field_tag 'social_media_values[1]', @player.facebook, class: 'input-block-level' %>
        <%= select_tag 'social_media[2]', options_for_select(social_media_options, 'twitter'), class: 'input-medium' %>
        <%= text_field_tag 'social_media_values[2]', @player.twitter, class: 'input-block-level' %>
      <% end %>
    </div>
    <button id="add_social_media" type="button" class="btn btn-info" style="margin-bottom:20px;">Add Social Media URL</button>
    <%= f.button :submit, class: 'btn-primary btn-large btn-block' %>
  </fieldset>
<% end %>