<% @active_page = 'players' %>

<div style="width:220px; margin: 25px auto;">
  <%= form_for @new_player do |f| %>
  <fieldset>
    <%= f.text_field :first_name, placeholder: 'First' %>
    <%= f.text_field :last_name, placeholder: 'Last' %>
    <%= f.text_field :display_name, placeholder: 'Display Name' %>
    <%= f.number_field :number, placeholder: '#', class: 'input-mini', style: 'float:left;' %>
    <%= f.select :position, ['PG', 'SG', 'SF', 'PF', 'C'], { prompt: 'Pos' }, class: 'input-mini', style: 'float:left; margin-left:10px; width:74px;' %>
    <%= f.number_field :height_feet, placeholder: 'Feet', class: 'input-mini', style: 'clear:both; float:left;' %>
    <%= f.number_field :height_inches, placeholder: 'Inches', class: 'input-mini', style: 'float:left; margin-left:10px;' %>
    <%= f.text_field :school, placeholder: 'School', style: 'clear:both;' %>
    <%= f.text_field :hometown, placeholder: 'Hometown' %>
    <input name="player[birthday]" type="text" data-behavior="datepicker" placeholder="Birthday" value="<%= @new_player.birthday.strftime('%m/%d/%Y') if @new_player.birthday %>">
    <%= f.text_field :day_job, placeholder: 'Day Job' %>
    <%= f.text_area :about, placeholder: 'More About', rows: 3 %>
    <%= f.text_field :profile_pic_url, placeholder: 'Profile Pic URL' %>
    <%= f.text_field :profile_pic_thumb_url, placeholder: 'Profile Pic Thumb URL' %>
    <%= f.submit 'Create Player', class: 'btn btn-primary', style: 'width:220px;' %>
  </fieldset>
  <% end %>
</div>
<table id="players" class="table table-striped" data-source="<%= datatables_players_url(format: "json") %>">
  <thead>
    <tr>
      <th></th>
      <th>First</th>
      <th>Last</th>
      <th>Display</th>
      <th>Team</th>
      <th>#</th>
      <th>Pos</th>
      <th>Height</th>
      <th>School</th>
      <th>Hometown</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div style="height:250px;"></div>