<% @active_page = 'players' %>

<div style="width:220px; margin: 25px auto;">
  <%= form_for @new_player do |f| %>
  <fieldset>
    <%= f.text_field :first_name, placeholder: 'First' %>
    <%= f.text_field :last_name, placeholder: 'Last' %>
    <%= f.number_field :number, placeholder: '#', class: 'input-mini', style: 'float:left;' %>
    <%= f.select :position, ['PG', 'SG', 'SF', 'PF', 'C'], { prompt: 'Pos' }, class: 'input-mini', style: 'float:left; margin-left:10px; width:74px;' %>
    <%= f.number_field :height_feet, placeholder: 'Feet', class: 'input-mini', style: 'clear:both; float:left;' %>
    <%= f.number_field :height_inches, placeholder: 'Inches', class: 'input-mini', style: 'float:left; margin-left:10px;' %>
    <%= f.text_field :school, placeholder: 'School', style: 'clear:both;' %>
    <%= f.text_field :hometown, placeholder: 'Hometown' %>
    <%= f.number_field :age, placeholder: 'Age' %>
    <%= f.text_field :day_job, placeholder: 'Day Job' %>
    <%= f.text_area :about, placeholder: 'More About', rows: 3 %>
    <%= f.submit 'Create Player', class: 'btn btn-primary', style: 'width:220px;' %>
  </fieldset>
  <% end %>
</div>
<table id="players" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>First</th>
      <th>Last</th>
      <th>#</th>
      <th>Pos</th>
      <th>Height</th>
      <th>School</th>
      <th>Hometown</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% for player in @players %>
    <tr onclick="document.location = '<%= player_path(player) %>';">
      <td style="width:20px;"><%= link_to 'Edit', edit_player_path(player), class: 'btn btn-primary btn-mini' %></td>
      <td style="width:50px;"><%= button_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %></td>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td><%= player.number %></td>
      <td><%= player.position %></td>
      <td><%= player.height %></td>
      <td><%= player.school %></td>
      <td><%= player.hometown %></td>
      <td><%= player.last_team %></td>
    </tr>
    <% end %>  
  </tbody>
</table>