- ot_one = game.home_score_ot_one != 0 || game.away_score_ot_one != 0
- ot_two = game.home_score_ot_two != 0 || game.away_score_ot_two != 0
- ot_three = game.home_score_ot_three != 0 || game.away_score_ot_three != 0
%table.boxscore(cellspacing="0" cellpadding="5")
  %tr
    %td{colspan:"2"}
      -if show_week
        %a(href="/games/#{game.id}/boxscore") #{game.boxscore_week_name + " -" if game.boxscore_week_name} #{game.date.strftime("%A %-m/%-d")} - #{game.time.strftime("%l:%M%p")}
      -else
        &nbsp;
    %td.half(width="90") 1st Half
    %td.half(width="90") 2nd Half
    - if ot_one
      %td.half(width="10") OT
    - if ot_two
      %td.half(width="10") 2OT
    - if ot_three
      %td.half(width="10") 3OT
    %td.total(width="90") Total
  %tr
    %td{width:"1"} #{"&#8226;".html_safe if game.home_team.id == game.winner}
    %td.team
      %a{href: stats_team_path(game.home_team)} #{game.home_team.name}
    -if not game.forfeit
      %td.half= game.home_score_first
      %td.half= game.home_score_second
      - if ot_one
        %td.half= game.home_score_ot_one
      - if ot_two
        %td.half= game.home_score_ot_two
      - if ot_three
        %td.half= game.home_score_ot_three
      %td.total= game.home_score
    -else
      %td{colspan: "3", style:"text-align:center;"} --- FORFEIT ---
  %tr
    %td{width:"1"} #{"&#8226;".html_safe if game.away_team.id == game.winner}
    %td.team 
      %a{href: stats_team_path(game.away_team)} #{game.away_team.name}
    -if not game.forfeit
      %td.half= game.away_score_first
      %td.half= game.away_score_second
      - if ot_one
        %td.half= game.away_score_ot_one
      - if ot_two
        %td.half= game.away_score_ot_two
      - if ot_three
        %td.half= game.away_score_ot_three
      %td.total= game.away_score
    -else
      %td{colspan: "3", style: "text-align:center; font-style:italic"}= game.home_team.id == game.winner ? "#{game.away_team.name} forfeits to #{game.home_team.name}" : "#{game.home_team.name} forfeits to #{game.away_team.name}"
  %tr
    %td &nbsp;
    %td.team(style="font-weight:normal;font-size:12px;")= "Played at the #{game.location.try(:name)}"
    %td.half &nbsp;
    - if ot_one
      %td.half &nbsp;
    - if ot_two
      %td.half(width="10") &nbsp;
    - if ot_three
      %td.half(width="10") &nbsp;
    %td.total(colspan="2")
      %a(href="/games/#{game.id}/boxscore#fullboxscore") Full Box Score&#187;
      &nbsp;
%div.horizline