.row.player-box
  .col-md-8.col-xs-8.info-container
    .row
      .col-md-12.col-xs-12.name-container
        %h1=@player.name
        / <a href="https://www.facebook.com/lew.tse?fref=ts">
        / <i class="fa fa-facebook-official" aria-hidden="true"></i>
        / </a>
        / <a href="http://www.linkedin.com/profile/view?id=6819365&locale=en_US&trk=tyah&trkInfo=tas%3Atse%2Cidx%3A1-1-1">
        / <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        / </a>
    .col-md-12
      .row
        .col-lg-6.col-xs-12.subhead-container{:style => "padding:0"}
          %h3{:style => "padding-top:0"}
            -if @player.last_teams.any?
              %a{class: "no_underline", href: stats_team_path(@player.last_teams[0])}>= @player.last_teams[0].name
              -if @player.last_teams.count == 2
                \/
                %a{class: "no_underline", href: stats_team_path(@player.last_teams[1])}>= @player.last_teams[1].name
          %h4 Seasons: #{@player.season_count}
        .col-lg-6.col-xs-12.highlight-stat-table-container{:style => "padding:0"}
          %table.table.table-striped.no-hover{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => ""}
            %thead
              %tr
                %th  
                %th PPG
                %th RPG
                %th APG
                %th SPG
                %th BPG
            %tr
              %td CAREER
              %td= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: true)
            %tr
              %td SEASON
              %td= number_with_precision(@current_season_averages.points, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@current_season_averages.trb, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@current_season_averages.ast, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@current_season_averages.stl, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(@current_season_averages.blk, precision: 1, strip_insignificant_zeros: true)
            %tr
              %td
                %img{:src => "../assets/abcplus50.png", :style => "display:block;"}/
                %span{:style => "display:none;"}
                  ABC+ is an advanced metric that measures a player's
                  %br/
                  overall value in ABC Hoops NYC.
                  %a{:href => "http://www.abchoops.com/ABCplus.pdf", :target => "_blank"} Read More
              %td{:colspan => "5"}
                %b 0.98
                %span{:style => "display:none"}
                  "Rookie" : 0.00 - 2.99
                  %br/
                  "All-star" : 3.00 - 5.99
                  %br/
                  "Superstar" : 6.00 - 10.99
                  %br/
                  "Hall of Fame" : 11:00 - infinity
  .col-md-4.col-xs-4.half-ball-background{:style => ""}
    -if not @player.profile_pic_url.blank?
      .player-picture{style:"background: url('#{@player.profile_pic_url}') no-repeat center 0;background-size: 280px 200px"}
    -else
      %h1=@player.last_number