.playerbox2{style:"padding-left:5px;"}
  .nameContainer
    %p.playername2= @player.name
  .headshotContainer2
    -if not @player.profile_pic_url.blank?
      .headshotBG2
        .headshot2{style:"background: url('#{@player.profile_pic_url}') no-repeat center 0;"}
    -else
      .numbersBG2
        %span.playernumbernopic2{style:"margin-left:#{@player.last_number.to_s.length == 1 ? 0 : -30}px;"}= @player.last_number
  %div{style:"position:relative; float:left; width:200px;"}
    %p.playerteam{style:@player.last_teams.count == 2 ? "font-size:18px;" : ""}
      -if @player.last_teams.any?
        %a{class: "no_underline", href: stats_team_path(@player.last_teams[0])}>= @player.last_teams[0].name
        -if @player.last_teams.count == 2
          \/
          %a{class: "no_underline", href: stats_team_path(@player.last_teams[1])}>= @player.last_teams[1].name
    %p.seasonnumber Seasons: #{@player.season_count}
  .highlightContainer2
    %table{cellpadding:"3", cellspacing:"0", border:"0"}
      %thead.statthead{style:"font-size:14px; outline:1px solid #2e3b56;"}
        %tr
          %td &nbsp;
          %td PPG
          %td RPG
          %td APG
          %td SPG
          %td BPG
      %tr.odd2{ style:"font-size:14px; outline:1px solid #000000;" }
        %td{ style:"font-size:10px;"} CAREER
        %td.lline= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: true)  
      %tr.even2{ style:"font-size:14px; outline:1px solid #000000;" }
        %td{ style:"font-size:10px;"} SEASON
        %td.lline= number_with_precision(@current_season_averages.points, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@current_season_averages.trb, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@current_season_averages.ast, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@current_season_averages.stl, precision: 1, strip_insignificant_zeros: true)
        %td.lline= number_with_precision(@current_season_averages.blk, precision: 1, strip_insignificant_zeros: true)
      %tr.odd2{style:"font-size:14px; outline:1px solid #000000;"}
        %td
          %p.tooltip.n{style:"margin:0px;"}
            %img{src:"/assets/abcplus50.png", style:"display:block;"}
            %span
              %img{src:""}
              ABC+ is an advanced metric that measures a player's
              %br
              overall value in ABC Hoops NYC.
              %a{href:"http://www.abchoopsnyc.com/ABCplus.pdf", target:"_blank"} Read More
        %td.lline{colspan:"5", style:"font-size:18px; line-height:18px;"}
          %p.tooltip.n.abc{style:"margin:0px;"}
            %b= number_with_precision(@player.abc_plus, precision: 2, strip_insignificant_zeros: true)
            %span
              %img{src:""}
              "Rookie" : 0.00 - 2.99
              %br
              "All-star" : 3.00 - 5.99
              %br
              "Superstar" : 6.00 - 10.99
              %br
              "Hall of Fame" : 11:00 - infinity