%table.stats.table.table-striped.no-hover.top-performers.last-game{:cellspacing=>"0", :cellpadding=>"3"}
  %thead
    %tr
      %th{:colspan=>"2"}Recent Form
  %tbody
    %tr
      %td
        %a{href: stats_team_url(game.home_team)}= game.home_team.name
      %td
        -last_five(game.home_team).each do |game|
          - if game.winner == game.home_team.id
            %a.win(href="/games/#{game.id}/boxscore") W
          - elsif game.winner == -1
            %a.tie(href="/games/#{game.id}/boxscore") T
          - else
            %a.loss(href="/games/#{game.id}/boxscore") L
    %tr
      %td
        %a{href: stats_team_url(game.away_team)}= game.away_team.name
      %td
        -last_five(game.away_team).each do |game|
          - if game.winner == game.away_team.id
            %a.win(href="/games/#{game.id}/boxscore") W
          - elsif game.winner == -1
            %a.tie(href="/games/#{game.id}/boxscore") T
          - else
            %a.loss(href="/games/#{game.id}/boxscore") L
  -reset_cycle