%div.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12
  %table.record-book-entry.table.table-striped{cellpadding:"5", cellspacing:"0"}
    %colgroup
      %col.col-xs-1/
      %col{class: local_assigns.fetch(:single_game, false) ? 'col-xs-3' : 'col-xs-4'}/
      %col{class: local_assigns.fetch(:single_game, false) ? 'col-xs-4' : 'col-xs-2'}/
      %col{class: local_assigns.fetch(:single_game, false) ? 'col-xs-1' : 'col-xs-2'}/
    %thead
      %tr
        %th{colspan:"4"}= stat_name
      %tr
        %th No.
        %th Player
        %th #{local_assigns.fetch(:single_game, false) ? "Game" : "Team"}
        %th{style:"padding-left: 0px;"} Total
    %tbody
      -entries.each_with_index do |entry, i|
        %tr
          %td=i+1
          -if i < 3
            %td
              .outer-number{style:"height: 50px;display: table;"}
                =render "headshot_thumb", player: entry
                %a{href:stats_player_path(entry.slug), style:"vertical-align: middle;display: table-cell;width:100%"} #{entry.display_name.blank? ? entry.first_name + " " + entry.last_name : entry.display_name}
          -else
            %td
              %a{href:stats_player_path(entry.slug)} #{entry.display_name.blank? ? entry.first_name + " " + entry.last_name : entry.display_name}
          -if local_assigns.fetch(:single_game, false)
            %td
              %a{href:stats_boxscore_path(entry.game_id)}= entry.game_desc
          -else
            %td
              %a{href:stats_team_path(entry.team_slug)}= entry.team_name
          %td= local_assigns.fetch(:use_percentage, false) ? number_with_precision(entry.total, precision: (local_assigns.fetch(:precision, 1))) : number_with_precision(entry.total, precision: 0)
      -reset_cycle