<h1><%="Active Season " + (mode == 'schedules' ? "Schedule & Scores" : "Stats & Results")%></h1>
<br />
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring16.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=26&league=4"%> style="height:144px;width:125px;">
      <% if mode == "schedules" %>
        <p class="activeSeason">IBL</p>
      <% else %>
        <p class="activeSeasonResults">IBL</p>
        <ul class="activeSeasonList" style="margin:0px;padding:2px 0 0 10px;">
          <li>Full Standings</li>
          <li>Stat Leaderboard</li>
          <li>Team Stats</li>
        </ul>
      <% end %>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=26&league=3"%> style="height:144px;width:125px;">
      <% if mode == "schedules" %>
        <p class="activeSeason" style="letter-spacing: -1px;">Weekday</p>
      <% else %>
        <p class="activeSeasonResults" style="letter-spacing: -1px;">Weekday</p>
        <ul class="activeSeasonList" style="margin:0px;padding:2px 0 0 10px;">
          <li>Full Standings</li>
          <li>Stat Leaderboard</li>
          <li>Team Stats</li>
        </ul>
      <% end %>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=26&league=2"%>  style="height:144px;width:127px;">
      <% if mode == "schedules" %>
        <p class="activeSeason" style="letter-spacing: -1px;">Saturday</p>
      <% else %>
        <p class="activeSeasonResults" style="letter-spacing: -1px;">Saturday</p>
        <ul class="activeSeasonList" style="margin:0px;padding:2px 0 0 10px;">
          <li>Full Standings</li>
          <li>Stat Leaderboard</li>
          <li>Team Stats</li>
        </ul>
      <% end %>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=25&league=1"%>  style="height:144px;width:125px;">
      <% if mode == "schedules" %>
        <p class="activeSeason">Sunday</p>
      <% else %>
        <p class="activeSeasonResults">Sunday</p>
        <ul class="activeSeasonList" style="margin:0px;padding:2px 0 0 10px;">
          <li>Full Standings</li>
          <li>Stat Leaderboard</li>
          <li>Team Stats</li>
        </ul>
      <% end %>
    </a></li>
  </ul>
</div>
<p>&nbsp;</p>
<p class="priorSeasonBar"><%="Prior Seasons' " + (mode == 'schedules' ? "Schedule & Scores" : "Stats & Results")%></p>

<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_winter15.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=25&league=3"%> style="height:144px;"> Weekday
      <p class="champs" style="margin:-3px;"><b><i>South Carolina Champ</i></b><br />
        Good D<br />
        <br />
        <b><i>Louisiana Champ</i></b><br />
        Heat Check</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=25&league=2"%> style="height:144px;"> Saturday
      <p class="champs" style="margin:-3px;"><b><i>New Hampshire Champ</i></b><br />
        Mambas<br />
        <br />
        <b><i>Nevada Champ</i></b><br />
        Indie 500
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=25&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Iowa Champ</i></b><br />
        The Come Up<br />
        <b><i>Super Tuesday Champ</i></b><br />
        bAll Stars<br />
        <b><i>Nebraska Champ</i></b><br />
        Hodor</p>
      </a></li>
  </ul>
</div>

<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_fall15.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=24&league=3"%> style="height:144px;"> Weekday
      <p class="champs" style="margin:-3px;"><b><i>Nader Champ</i></b><br />
        Ball-Playaz<br />
        <br />
        <b><i>Perot Champ</i></b><br />
        Indie 2</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=24&league=2"%> style="height:144px;"> Saturday
      <p class="champs" style="margin:-3px;"><b><i>Trump Champ</i></b><br />
        Mambas<br />
        <b><i>Fiorina Champ</i></b><br />
        Better Late
        <br />
        <b><i>Carson Champ</i></b><br />
        Los Pollos</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=24&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Sanders Champ</i></b><br />
        Paul &amp; Co<br />
        <b><i>Clinton Champ</i></b><br />
        Takeover<br />
        <b><i>Biden Champ</i></b><br />
        Del Harris</p>
      </a></li>
  </ul>
</div>

<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_summer15.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=23&league=3"%> style="height:144px;"> Weekday
      <p class="champs" style="margin:-3px;"><b><i>LES Champ</i></b><br />
        Get Buckets<br /><br />
        <b><i>YMCA Champ</i></b><br />
        Renegades</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=23&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Manna-Hata Champ</i></b><br />
        Max's All Stars<br />
        <b><i>New Amsterdam Champ</i></b><br />
        Weil<br />
        <b><i>New York Champ</i></b><br />
        Pick &amp; Roll a J</p>
      </a></li>
  </ul>
</div>

<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring15.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=21&league=3"%> style="height:144px;"> Weekday
      <p class="champs" style="margin:-3px;"><b><i>Boss Tweed Champ</i></b><br />
        Pippen Ain't Easy<br />
        <b><i>Lindsay Champ</i></b><br />
        MCC
        <br />
        <b><i>Koch Champ</i></b><br />
        Wet Bandits</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=21&league=2"%> style="height:144px;"> Saturday
      <p class="champs" style="margin:-3px;"><b><i>LaGuardia Champ</i></b><br />
        Shut 'Em<br />
        <b><i>Van Wych Champ</i></b><br />
        Occupy John Wall St
        <br />
        <b><i>Giuliani Champ</i></b><br />
        Boom</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=21&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Dinkins Champ</i></b><br />
        Max's All Stars<br />
        <b><i>Wagner Champ</i></b><br />
        Warriors Basketball<br />
        <b><i>Bloomberg Champ</i></b><br />
        #BallisLife</p>
      </a></li>
  </ul>
</div>

<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_winter14.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=20&league=3"%> style="height:144px;"> Weekday
      <p class="champs"><b><i>Cinnabon Champ</i></b><br />
        Mud Dogs<br />
        <br />
        <b><i>Sbarro Champ</i></b><br />
        Houlie Hoopers</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=20&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Orange Julius Champ</i></b><br />
        Toon Squad Sat<br />
        <br />
        <b><i>Panda Express Champ</i></b><br />
        EBF</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=20&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Nathan's Champ</i></b><br />
        Wrecking Ballers<br />
        <b><i>TCBY Champ</i></b><br />
        Jetlife<br />
        <b><i>Auntie Anne Champ</i></b><br />
        Indie Team</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_fall14.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=19&league=3"%> style="height:144px;"> Weekday
      <p class="champs"><b><i>Champion</i></b><br />
        Turcon Dumptrucks<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Houlie Hoopers</p>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=19&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Frosted Flakes Champ</i></b><br />
        Ray on the Roof<br />
        <br />
        <b><i>Captain Crunch</i></b><br />
        Los Pollos Hermanos</p>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=19&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>Corn Pops Champ</i></b><br />
        bAll Stars<br />
        <b><i>Cheerios Champ</i></b><br />
        Asphalt Ninjas<br />
        <b><i>Raisin Bran Champ</i></b><br />
        Str8 Skills</p>
    </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_summer14.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=18&league=3"%> style="height:144px;"> Weekday
      <p class="champs"><b><i>Champion</i></b><br />
        Pineapples<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Houlie Hoopers</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=18&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>TF-1000 Champ</i></b><br />
        bAll Stars<br />
        <b><i>Evolution Champ</i></b><br />
        Grand Life<br />
        <b><i>Infusion Champ</i></b><br />
        Beats by Solange</p>
    </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring14.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=17&league=3"%> style="height:144px;"> Weekday
       <p class="champs"><b><i>Pennys Champ</i></b><br />
         The Wake<br />
         <br />
         <b><i>Shaqnosis Champ</i></b><br />
         Pho King</p>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=17&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>FILA Champ</i></b><br />
        Tyrannical Teabaggers<br />
        <br />
        <b><i>LA Gear Champ</i></b><br />
        Mambas</p>
    </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=17&league=1"%> style="height:144px;"> Sunday
      <p class="champs" style="margin:-3px;"><b><i>AF-1 Champ</i></b><br />
        bAll Stars<br />
        <b><i>Foamposite Champ</i></b><br />
        Jetlife<br />
        <b><i>Chuck Taylor Champ</i></b><br />
        Monday</p>
    </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_winter13b.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=16&league=3"%> style="height:144px;"> Weekday
      <p class="champs"><b><i>The Dream Champ</i></b><br />
        Sons of Men<br />
        <br />
        <b><i>T-Mac Champ</i></b><br />
        Wendell's Poppers</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=16&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Bad Boys Champ</i></b><br />
        For the Love of Buckets<br />
        <br />
        <b><i>Showtime Champ</i></b><br />
        Holy Day Detox</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=16&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Black Mamba Champ</i></b><br />
        Grand Life<br />
        <b><i>Larry Legend Champ</i></b><br />
        Wrecking Ballers<br />
        <b><i>Uncle Drew Champ</i></b><br />
        TLC Deez</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_fall13.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=15&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Big Dipper Champ</i></b><br />
        Dons' Rok<br />
        <br />
        <b><i>Mr. Clutch Champ</i></b><br />
        Ray on the Roof</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=15&league=1"%> style="height:144px;">Sunday
      <p class="champs"><b><i>Jellybean Champ</i></b><br />
        Jetlife<br />
        <br />
        <b><i>Mailman Champ</i></b><br />
        Red Horsemen</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_summer13b.png');">
  <ul id="twodaysched" style="margin-left:444px;">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=14&league=1"%> style="width:348px;height:144px;"> Sunday
      <p class="champs" style="margin-top:-2px;"><b><i>Pistol Pete Champ</i></b><br />
        Grand Life<br />
        <b><i>Big Country Champ</i></b><br />
        Young Gunnaz<br />
        <b><i>The Admiral Champ</i></b><br />
        Titans</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring13b.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=13&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Dr. J Champ</i></b><br />
        Dons' Rok<br />
        <br />
        <b><i>Bird Champ</i></b><br />
        Thunderbuddies </p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=13&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Benedict Schemers<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Real Ready </p>
      </a></li>
  </ul>
</div>
<a href="schedule_s8_sat.shtml">
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_winter12b.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=12&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>King Champ</i></b><br />
        Holy Day Detox<br />
        <br />
        <b><i>Starks Champ</i></b><br />
        The Monstars</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=12&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        The Come Up<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Benedict Schemers</p>
      </a></li>
  </ul>
</div>
</a> <a href="schedule_s7_sat.shtml">
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_fall12b.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=11&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Champion</i></b><br />
        Bandz'll Make Her Dance<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Team X</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=11&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Newport<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Nigel, Mike & TRP</p>
      </a></li>
  </ul>
</div>
</a>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_summer12.png');">
  <ul id="threedaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=10&league=3"%> style="height:144px;"> Weekday
      <p class="champs"><b><i>Champion</i></b><br />
        The Come Up<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Rack City</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=10&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Champion</i></b><br />
        Team Dynasty<br />
        <br />
        <b><i>Runner Up</i></b><br />
        TY - Schemers</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=10&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Villains<br />
        <br />
        <b><i>Runner Up</i></b><br />
        3rd Rock</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring12.png');">
  <ul id="twodaysched">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=9&league=2"%> style="height:144px;"> Saturday
      <p class="champs"><b><i>Champion</i></b><br />
        Team Dynasty<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Team X</p>
      </a></li>
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=9&league=1"%> style="height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Newport<br />
        <br />
        <b><i>Runner Up</i></b><br />
        PF Flyers</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_winter11.png');">
  <ul id="twodaysched" style="margin-left:444px;">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=8&league=1"%> style="width:348px;height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Benedict Schemers<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Very Erratic Play</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_fall11.png');">
  <ul id="twodaysched" style="margin-left:444px;">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=7&league=1"%> style="width:348px;height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Spring Street<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Manhattan Pride</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_summer11.png');">
  <ul id="twodaysched" style="margin-left:444px;">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=6&league=1"%> style="width:348px;height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Team X<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Game, Blouses</p>
      </a></li>
  </ul>
</div>
<div class="schedBlock" style="background-image:url('http://www.abchoopsnyc.com/images/schedbar_spring11.png');">
  <ul id="twodaysched" style="margin-left:444px;">
    <li class="scheddays"><a class="daybutton" href=<%="/#{mode}?season=5&league=1"%> style="width:348px;height:144px;"> Sunday
      <p class="champs"><b><i>Champion</i></b><br />
        Wen Bo<br />
        <br />
        <b><i>Runner Up</i></b><br />
        Real Ready</p>
      </a></li>
  </ul>
</div>