- teams = Season.current.team_spots.group_by { |ts| ts.league }
%div.sidebarscrollpane
  %p.sidebarhead 
    Standings:
    - if teams.count > 1
      %span.rightSatSun
        - teams.keys.sort.each_with_index do |league, index|
          = index != 0 ? "/" : ""
          %a.showlink{ id: "show_#{league.short_name}", style: "text-decoration: none;" } #{league.short_name}
  - teams.sort.each_with_index.map do |(league, team_spots), index|
    %div.section{ id: "#{league.try(:short_name)}", style: index != 0 ? "display: none;" : "" }
      %div.scroll-paneNS
        %table.standings
          - team_spots.group_by { |ts| ts.division }.each do |division, division_team_spots|
            - if division
              %tr
                %td.division{ colspan: "3" } #{division.name} Division
            - division_team_spots.map(&:team).sort_by{|t| t.win_pct(Season.current)}.reverse!.each do |team|
              %tr
                %td &nbsp;
                %td
                  %b
                    %a{href: stats_team_path(team)}= team.name
                %td= team.record(Season.current)