/ display appropriate standings
/ check on schedule and result page, team, boxscore
- if @league.present?
  - league_short_name = @league.short_name
  - current_league_id = @league.id
- elsif @team_spot.present?
  - league_short_name = @team_spot.league.short_name
  - current_league_id = @team_spot.league.id
- elsif @game.present?
  - league_short_name = @game.league.short_name
  - current_league_id = @game.league.id
- else
  - league_short_name = "Sun"
  - current_league_id = 1

= javascript_tag do
  window.leagueDay = '#{j league_short_name}';

- teams = Season.current.team_spots.includes(:league, :division).where("league_id is not null").order("coalesce(wins / nullif(wins + losses, 0), 0) DESC, wins DESC, losses ASC, (points_for - points_against) DESC").group_by { |ts| ts.league }
%p.standingsHead
  Standings:
  - if teams.count > 1
    %span.rightSatSun
      - teams.keys.sort.reverse!.each_with_index do |league, index|
        = index != 0 ? "/" : ""
        %a.showlink{ id: "show_#{league.short_name}", style: "text-decoration: none;" } #{league.short_name}
- teams.sort.each_with_index.map do |(league, team_spots), index|
  %div.section{ id: "#{league.try(:short_name)}", style: league.id != current_league_id ? "display: none;" : "" }
    %div{class:@is_index ? "scroll-pane" : "scroll-paneNS"}
      %table{class:"standingsTable#{@is_index ? league.short_name : 'Sun'}", cellpadding:"3", cellspacing:"2"}
        - divisions = team_spots.group_by { |ts| ts.division }
        - no_division = divisions.extract!(nil)
        - divisions.keys.sort.each_with_index do |division|
          %tr
            %td.divisionName{ colspan: "3" } #{division.name}
          - division.team_spots.each do |ts|
            %tr
              %td{width:"1px"} &nbsp;
              %td
                %b
                  %a{href: stats_team_url(ts.team)}= ts.team.name
              %td.text-right= ts.record
        - team_spot_no_division = no_division[nil]
        - if team_spot_no_division
          - team_spot_no_division.each do |ts|
            %tr
              %td{width:"1px"} &nbsp;
              %td
                %b
                  %a{href: stats_team_url(ts.team)}= ts.team.name
              %td.text-right= ts.record