- teams = Season.current.team_spots.group_by { |ts| ts.league }
%p.standingsHead
  Standings:
  - if teams.count > 1
    %span.rightSatSun
      - teams.keys.sort.reverse!.each_with_index do |league, index|
        = index != 0 ? "/" : ""
        %a.showlink{ id: "show_#{league.short_name}", style: "text-decoration: none;" } #{league.short_name}
- teams.sort.each_with_index.map do |(league, team_spots), index|
  %div.section{ id: "#{league.try(:short_name)}", style: league.id != 1 ? "display: none;" : "" }
    %div{class:@is_index ? "scroll-pane" : "scroll-paneNS"}
      %table{class:"standingsTable#{@is_index ? league.short_name : 'Sun'}", cellpadding:"3", cellspacing:"2"}
        - team_spots.group_by { |ts| ts.division }.each do |division, division_team_spots|
          - if division
            %tr
              %td.divisionName{ colspan: "3" } #{division.name} 
          - division_team_spots.sort_by{|ts| [ts.win_pct, ts.wins, -(ts.losses)]}.reverse!.each do |ts|
            %tr
              %td{width:"1px"} &nbsp;
              %td
                %b
                  %a{href: stats_team_url(ts.team)}= ts.team.name
              %td= ts.record