%table{cellspacing: "0", cellpadding: "2", style:"width:650px; table-layout:fixed;" }
  %colgroup
    %col{ span:"1", style:"width: 25px;" }
    %col{ span:"1", style:"width: 130px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
  %tbody
    %tr.statthead
      %td{colspan: "16", style: "font-size: 14px"}= team.name
    %tr.statthead
      %td{colspan: "2"} &nbsp;
      %td{colspan: "2"} Field Goals
      %td{colspan: "2"} 3PT
      %td{colspan: "2"} FT
      %td{colspan: "3"} Rebounds
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
%p.ns
%table#teamstats.sortable.maintablelr{cellspacing: "0", cellpadding:"2", style:"width:650px; table-layout:fixed;"}
  %colgroup
    %col{ span:"1", style:"width: 25px;" }
    %col{ span:"1", style:"width: 130px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 45px;" }
    %col{ span:"1", style:"width: 40px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
    %col{ span:"1", style:"width: 30px;" }
  %thead.statthead
    %tr
      %th No.
      %th.sorttable_nosort Name
      %th M-A
      %th %
      %th M-A
      %th %
      %th M-A
      %th %
      %th O
      %th D
      %th T
      %th A
      %th S
      %th B
      %th F
      %th P
  %tbody
    - stat_lines.sort_by {|s| [s.jersey_number ? s.jersey_number : 1000, s.player ? s.player.last_name : 'Sub']}.select { |stat| !stat.dnp }.each do |stat|
      %tr{class: "#{cycle('odd2', 'even2')}"}
        %td= stat.jersey_number
        %td
          - if stat.player 
            %a{href: stats_player_path(stat.player)}= stat.player.name
          - else
            Sub
        %td.lline= "#{stat.fgm.round}-#{stat.fga.round}"
        %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
        %td.lline= "#{stat.threem.round}-#{stat.threea.round}"
        %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
        %td.lline= "#{stat.ftm.round}-#{stat.fta.round}"
        %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
        %td.lline= stat.orb.round
        %td= stat.drb.round
        %td= stat.trb.round
        %td.lline= stat.ast.round
        %td.lline= stat.stl.round
        %td.lline= stat.blk.round
        %td.lline= stat.fl.round
        %td.lline= stat.points.round
  %tfoot
    %tr.stattotal
      %td{colspan:"2"} Total
      - totals = total_stat_lines(stat_lines)
      %td.lline= "#{totals.fgm.round}-#{totals.fga.round}"
      %td= number_with_precision((totals.fgpct ? totals.fgpct : 0), precision: 3) 
      %td.lline= "#{totals.threem.round}-#{totals.threea.round}"
      %td= number_with_precision((totals.threepct ? totals.threepct : 0), precision: 3) 
      %td.lline= "#{totals.ftm.round}-#{totals.fta.round}"
      %td= number_with_precision((totals.ftpct ? totals.ftpct : 0), precision: 3) 
      %td.lline= totals.orb.round
      %td= totals.drb.round
      %td= totals.trb.round
      %td.lline= totals.ast.round
      %td.lline= totals.stl.round
      %td.lline= totals.blk.round
      %td.lline= totals.fl.round
      %td.lline= totals.points.round