-title "ABC Hoops | #{@game.home_team.name} vs. #{@game.away_team.name} - #{@game.week_name} - #{@game.season.name}"
.row.equal.headline-score-container.flexthis
  .col-md-4.col-md-push-4.col-sm-12.col-xs-12.game-description{:style => "text-align:center"}
    %div{:style => "margin:auto;"}
      %p.game-detail 
        %a{href: schedules_path(season: @game.season_id, league: @game.league_id)} #{@game.season.name} - #{@game.league.name}
      %p.game-detail
        %a{href: schedules_path(season: @game.season_id, league: @game.league_id) + '#page=wk' + week_schedule_link(@game)} #{@game.week_name} - #{@game.date.strftime("%A %-m/%-d")}
      %p.game-detail= @game.time.strftime("%l:%M%p")
  .col-md-4.col-md-pull-4.col-sm-6.col-xs-6.home-team-score
    %div{:style => "margin:auto;"}
      %h3= @game.away_team.name
      %h3= @game.away_score
  .col-md-4.col-sm-6.col-xs-6.away-team-score
    %div{:style => "margin:auto;"}
      %h3= @game.home_team.name
      %h3= @game.home_score
.row
  .col-md-12
    =render "boxscore_summary", game: @game, show_week: false
- if @game.winner && !@game.forfeit
  .row.pog-top-container
    .col-md-6.col-sm-6.col-xs-12
      = render "boxscore_top_performers", game: @game, show_week: true
    .col-md-6.col-sm-6.col-xs-12
      -if @game.player_of_the_game
        %table.stats.player-of-the-game{:cellpadding => "3", :cellspacing => "0"}
          %thead
            %tr
              %td{:colspan => "3"} Player of the Game
          %tbody
            %tr
              %td.number-container{:rowspan => "2"}
                %a{href:stats_player_path(@game.player_of_the_game[:player].id)}
                  .halfball
                    -if @game.player_of_the_game[:player].profile_pic_url.blank?
                      %span.playernumbernopicthumb= Player.find(@game.player_of_the_game[:player].id).last_number
                    -else
                      %img{src:"#{@game.player_of_the_game[:player].profile_pic_url}"}
              %td
                %a{href:stats_player_path(@game.player_of_the_game[:player])}="#{@game.player_of_the_game[:name]}"
                &ndash;
                %a{:href=>stats_team_path(@game.player_of_the_game[:team])}=@game.player_of_the_game[:team].abbreviation
              %td{"data-container" => "body", "data-html" => "true", "data-toggle" => "tooltip", :rowspan => "2", :title => "<b>Win Probability Added</b><br/>\nWeighs the contribution of each player to see how \nmuch their actions added to the probability that \ntheir team wins the game.<br/><b>#{@game.player_of_the_game[:name]} added #{@game.player_of_the_game[:wpa]}% to #{@game.player_of_the_game[:team].name}'s \nchance of winning the game.</b>"}
                %img{:src => "http://stats.abchoopsnyc.com/assets/abcplus50.png"}/
                %p{:style => "margin:0px;font-size:10px;font-weight:bold;"} WPA
                %p{:style => "margin:0px;font-size:16px;font-weight:bold;"}
                  #{@game.player_of_the_game[:wpa]} %
            %tr
              %td
                #{@game.player_of_the_game[:stats_1]}
                %br
                #{@game.player_of_the_game[:stats_2]}
-if (not @game.photo_urls.nil?) && @game.photo_urls.any?
  :javascript
    $(document).ready(function() {
      $(".fancybox").fancybox({
        slideShow  : false,
        fullScreen : true,
        thumbs     : false,
        closeBtn   : true,
      });
    });
  .dashed-divider
  %ul.game-thumbs
    - pic_count = @game.photo_urls.count
    - @game.photo_urls.each do |url|
      %li{:class => 'count' + pic_count.to_s + 'thumbs'}
        %a{"data-fancybox" => "group", :href => url, :rel => "group"}
          %img.img-responsive{:src => url }/
%div{:style => "clear:both"}
.dashed-divider
%a#fullboxscore{:name => "fullboxscore"}
%h4.space= @game.away_team.name
= render "team_boxscore", team: @game.away_team, stat_lines: @game.team_stats(@game.away_team.id)
%h4.space= @game.home_team.name
= render "team_boxscore", team: @game.home_team, stat_lines: @game.team_stats(@game.home_team.id)
=render "glossary"