-title @player.name
=render "player_box"
-if not @player.roster_spots.empty?
  .row.player-button-container
    .col-xs-12.button-container.col-sm-4
      .main-button.block
        %a{:href => "#game-log"}
          %i.fa.fa-list-alt{"aria-hidden" => "true"}
          Game Log
    .col-xs-12.button-container.col-sm-4
      .main-button.block
        %a{:href => "#career"}
          %i.fa.fa-briefcase{"aria-hidden" => "true"}
          Career
    .col-xs-12.button-container.col-sm-4
      .main-button.block
        %a{:href => "#splits"}
          %i.fa.fa-sort-amount-desc{"aria-hidden" => "true"}
          Splits
  %div.inactive#splits
    .col-lg-4.col-md-6.col-xs-12.season-container
      %form.nevis{action: "#{stats_player_path(@player)}#splits", method: "get", style: 'font-weight:bold;'}
        Season:
        %span.season-dropdown-container
          =select_tag "splits", options_from_collection_for_select(@seasons, "id", "name", @season.id), { onchange: 'this.form.submit();' }
    %br
    -@all_splits.each do |team_id, splits|
      -splits_totals = splits['Totals'] || PlayerStat.new
      %table.table.responsive.table-striped.table-stats.sortable.splits{:cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th.r-lock  
            %th  
            %th{:colspan => "2"} Field Goals
            %th{:colspan => "2"} 3PT
            %th{:colspan => "2"} FT
            %th{:colspan => "3"} Rebounds
            %th  
            %th  
            %th  
            %th  
            %th
          %tr
            %th.sorttable_nosort.r-lock Week
            %th GP
            %th M-A
            %th %
            %th M-A
            %th %
            %th M-A
            %th %
            %th O
            %th D
            %th T
            %th A
            %th S
            %th B
            %th F
            %th P
        %tbody
          %tr
            %td Total
            %td= splits_totals.game_count
            %td #{number_with_precision(splits_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fga, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.fgpct, precision: 3)
            %td #{number_with_precision(splits_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.threea, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.threepct, precision: 3)
            %td #{number_with_precision(splits_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fta, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.ftpct, precision: 3)
            %td= number_with_precision(splits_totals.orb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.drb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.trb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.ast, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.stl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.blk, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.fl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.points, precision: 1, strip_insignificant_zeros: true)
          - splits.select{|s| s != "Totals"}.each do |split, stats|
            %tr.table-head
              %td{ style:"text-align:left;" }= split
              %td{ colspan:"15" } &nbsp;
            - reset_cycle
            - stats.each do |stat|
              %tr
                %td= stat.split_name
                %td=  stat.game_count
                %td #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
                %td #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
                %td #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
                %td= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: true)
                %td= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: true)
        %tfoot
          %tr
            %td.r-lock Total
            %td= splits_totals.game_count
            %td #{number_with_precision(splits_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fga, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.fgpct, precision: 3)
            %td #{number_with_precision(splits_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.threea, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.threepct, precision: 3)
            %td #{number_with_precision(splits_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fta, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision(splits_totals.ftpct, precision: 3)
            %td= number_with_precision(splits_totals.orb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.drb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.trb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.ast, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.stl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.blk, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.fl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(splits_totals.points, precision: 1, strip_insignificant_zeros: true)
    = render "glossary"
  %div#game-log
    -if @show_stats
      .col-lg-4.col-md-6.col-xs-12.season-container
        %form.nevis{action: "#{stats_player_path(@player)}#gamelog", method: "get", style: 'font-weight:bold;'}
          Season:
          %span.season-dropdown-container
            =select_tag "log", options_from_collection_for_select(@seasons, "id", "name", @season.id), { onchange: 'this.form.submit();' }
      -@game_log.group_by{|sl| sl.season}.each do |season, season_log|
        -season_log.group_by{|sl| sl.team_id}.each do |team_id, game_log|
          %table.table.responsive.table-striped.table-stats.sortable.game-log{ cellspacing:"0", cellpadding:"2" }
            %thead
              %tr
                %th.r-lock  
                %th{:colspan => "2"} Field Goals
                %th{:colspan => "2"} 3PT
                %th{:colspan => "2"} FT
                %th{:colspan => "3"} Rebounds
                %th  
                %th  
                %th  
                %th  
                %th  
              %tr
                %th.r-lock= Team.find_by_id(team_id).try(:name)
                %th M-A
                %th %
                %th M-A
                %th %
                %th M-A
                %th %
                %th O
                %th D
                %th T
                %th A
                %th S
                %th B
                %th F
                %th P
              %tbody
                -reset_cycle
                - game_log.each do |stat|
                  %tr
                    %td.r-lock
                      %a{href: stats_boxscore_path(stat.game)}= stat.game.boxscore_week_name ? stat.game.boxscore_week_name : "N/A"
                    %td= "#{stat.fgm.round}-#{stat.fga.round}"
                    %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
                    %td= "#{stat.threem.round}-#{stat.threea.round}"
                    %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
                    %td= "#{stat.ftm.round}-#{stat.fta.round}"
                    %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
                    %td= stat.orb.round
                    %td= stat.drb.round
                    %td= stat.trb.round
                    %td= stat.ast.round
                    %td= stat.stl.round
                    %td= stat.blk.round
                    %td= stat.fl.round
                    %td= stat.points.round
              %tfoot
                %tr
                  -per_game_stats = @career_season_averages.select{|sl| sl.season_id == season.id && sl.team_id == team_id}.first || PlayerStat.new
                  %td.r-lock Per Gm
                  %td #{number_with_precision(per_game_stats.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.fga, precision: 1, strip_insignificant_zeros: false)}
                  %td= number_with_precision((per_game_stats.fgpct ? per_game_stats.fgpct : 0), precision: 3)
                  %td #{number_with_precision(per_game_stats.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.threea, precision: 1, strip_insignificant_zeros: false)}
                  %td= number_with_precision((per_game_stats.threepct ? per_game_stats.threepct : 0), precision: 3)
                  %td #{number_with_precision(per_game_stats.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.fta, precision: 1, strip_insignificant_zeros: false)}
                  %td= number_with_precision((per_game_stats.ftpct ? per_game_stats.ftpct : 0), precision: 3)
                  %td= number_with_precision(per_game_stats.orb, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.drb, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.trb, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.ast, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.stl, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.blk, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.fl, precision: 1, strip_insignificant_zeros: false)
                  %td= number_with_precision(per_game_stats.points, precision: 1, strip_insignificant_zeros: false)
                %tr
                  %td.r-lock Total
                  - totals = total_stat_lines(game_log)
                  %td= "#{totals.fgm.round}-#{totals.fga.round}"
                  %td= number_with_precision((totals.fgpct ? totals.fgpct : 0), precision: 3) 
                  %td= "#{totals.threem.round}-#{totals.threea.round}"
                  %td= number_with_precision((totals.threepct ? totals.threepct : 0), precision: 3) 
                  %td= "#{totals.ftm.round}-#{totals.fta.round}"
                  %td= number_with_precision((totals.ftpct ? totals.ftpct : 0), precision: 3) 
                  %td= totals.orb.round
                  %td= totals.drb.round
                  %td= totals.trb.round
                  %td= totals.ast.round
                  %td= totals.stl.round
                  %td= totals.blk.round
                  %td= totals.fl.round
                  %td= totals.points.round
        =render "glossary"
        %br
      -if @season_highs  
        %h2 Season Highs
        %table.table.table-striped.no-hover.player-highs{ cellspacing:"0", cellpadding:"5" }
          %thead.statthead
            %tr
              %th Stat
              %th Season High
              %th Game
          %tbody
            -reset_cycle
            -@season_highs.each do |stat_name, stat|
              %tr
                =render "career_high", name: stat_name, career_high: stat
  %div.inactive#career
    %br
    %h2 Career Per Game Stats
    %table.table.responsive.responsive-2.table-striped.table-stats.sortable.career.box-score{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th.r-lock  
          %th.r-lock  
          %th{:colspan => "2"} Field Goals
          %th{:colspan => "2"} 3PT
          %th{:colspan => "2"} FT
          %th{:colspan => "3"} Rebounds
          %th  
          %th  
          %th  
          %th  
          %th  
        %tr
          %th.r-lock Season
          %th.r-lock Team
          %th M-A
          %th %
          %th M-A
          %th %
          %th M-A
          %th %
          %th O
          %th D
          %th T
          %th A
          %th S
          %th B
          %th F
          %th P
      %tbody
        - reset_cycle
        - @career_season_averages.each do |stat|
          %tr
            %td= stat.season_number
            %td= link_to stat.team.abbreviation, stats_team_path(stat.team, season: stat.season_id)
            %td #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
            %td #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
            %td #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
            %td= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: true)
      %tfoot
        %tr
          %td.r-lock Career
          %td.r-lock Avg
          %td #{number_with_precision(@career_averages.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.fgpct, precision: 3)
          %td #{number_with_precision(@career_averages.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.threepct, precision: 3)
          %td #{number_with_precision(@career_averages.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.ftpct, precision: 3)
          %td= number_with_precision(@career_averages.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.fl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: true)
    %br
    %h2 Career Cumulative Stats
    %table.table.responsive.responsive-2.table-striped.table-stats.sortable.career.box-score{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th.r-lock  
          %th.r-lock  
          %th{:colspan => "2"} Field Goals
          %th{:colspan => "2"} 3PT
          %th{:colspan => "2"} FT
          %th{:colspan => "3"} Rebounds
          %th  
          %th  
          %th  
          %th  
          %th  
        %tr
          %th.r-lock Season
          %th.r-lock Team
          %th M-A
          %th %
          %th M-A
          %th %
          %th M-A
          %th %
          %th O
          %th D
          %th T
          %th A
          %th S
          %th B
          %th F
          %th P
      %tbody
        - reset_cycle
        - @career_season_totals.each do |stat|
          //- stat.calc_percentages
          %tr
            %td= stat.season_number
            %td= link_to stat.team.abbreviation, stats_team_path(stat.team, season: stat.season_id)
            %td= "#{stat.fgm.round}-#{stat.fga.round}"
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
            %td= "#{stat.threem.round}-#{stat.threea.round}"
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
            %td= "#{stat.ftm.round}-#{stat.fta.round}"
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
            %td= stat.orb.round
            %td= stat.drb.round
            %td= stat.trb.round
            %td= stat.ast.round
            %td= stat.stl.round
            %td= stat.blk.round
            %td= stat.fl.round
            %td= stat.points.round
      %tfoot
        %tr
          - if @career_totals
            %td.r-lock Career
            %td.r-lock Total
            %td= "#{@career_totals.fgm.round}-#{@career_totals.fga.round}"
            %td= number_with_precision((@career_totals.fgpct ? @career_totals.fgpct : 0), precision: 3) 
            %td= "#{@career_totals.threem.round}-#{@career_totals.threea.round}"
            %td= number_with_precision((@career_totals.threepct ? @career_totals.threepct : 0), precision: 3) 
            %td= "#{@career_totals.ftm.round}-#{@career_totals.fta.round}"
            %td= number_with_precision((@career_totals.ftpct ? @career_totals.ftpct : 0), precision: 3) 
            %td= @career_totals.orb.round
            %td= @career_totals.drb.round
            %td= @career_totals.trb.round
            %td= @career_totals.ast.round
            %td= @career_totals.stl.round
            %td= @career_totals.blk.round
            %td= @career_totals.fl.round
            %td= number_with_delimiter(@career_totals.points.round)
        %tr
          -average_per_season_totals = average_stat_lines(@career_season_totals)
          %td.r-lock Avg
          %td.r-lock Season
          %td #{number_with_precision(average_per_season_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.fgpct, precision: 3)
          %td #{number_with_precision(average_per_season_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.threepct, precision: 3)
          %td #{number_with_precision(average_per_season_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.ftpct, precision: 3)
          %td= number_with_precision(average_per_season_totals.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.trb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.ast, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.stl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.blk, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.fl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(average_per_season_totals.points, precision: 1, strip_insignificant_zeros: true)
    =render "glossary"
    %br
    %h2 Career Highs
    %table.table.table-striped.no-hover.player-highs{:cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %th Stat
          %th Season High
          %th Game
      %tbody
        -reset_cycle
        -@career_highs.each do |stat_name, stat|
          %tr
            =render "career_high", name: stat_name, career_high: stat
  = javascript_include_tag "activatables"
  %script{type: "text/javascript"}
    activatables('page', ['game-log', 'career', 'splits']);