-if @show_all
  -title "Scores & Schedules"
  = render "schedules_and_results", mode: 'schedules'
-else
  -title "#{@season.name} - #{@league.name} Schedule & Scores"
  %h1 #{@season.name} - #{@league.name} Schedule &amp; Scores
  .row.sub-body-menu.equal
    .col-xs-6.season-container{:style => "padding:15px 2.5%"}
      %form{action: "#{schedules_path}", method: "get", style:'font-weight:bold;'}
        Season:
        %span.season-dropdown-container
          =select_tag "season", options_from_collection_for_select(@seasons, "id", "name", params[:season].to_i), { onchange: 'this.form.submit();' }
          =hidden_field_tag "league", @league.id
    .col-xs-6{:style => "padding:15px 2.5%"}
      %p.record_link_container
        %a#show_byes{href: "#"}
          Show Dates &amp; Byes
          %span.caret
        %a#hide_byes{href: "#"}
          Hide Dates &amp; Byes
          %span.upcaret
  .bye-week-container.table-responsive.inactive
    %table.table.table-striped.no-hover
      %thead
        %tr
          %th.r-lock Week
          - @games.keys.each do |week|
            - week_name = week.try(:short_name) || (week ? (week.name.sub "Week", "") : "0")
            %th= week_name
      %tbody
        %tr
          %td.r-lock Date
          - @games.keys.each do |week|
            %td
              = week.start_date.strftime("%-m/%-d") 
              - if [3,4].include?(@league.id)
                &ndash;
                = week.end_date.strftime("%-m/%-d")
        %tr
          %td.r-lock Bye
          - @games.each do |week, games|
            - if week.playoffs == false
              - bye_teams = @teams.select{|team| !games.any? {|game| game.home_team == team || game.away_team == team}}.map(&:abbreviation)
              %td{style: "border-left: 1px dotted #999"}= bye_teams.empty? ? "N/A" : bye_teams.join(", ")
            - else
              %td{style: "border-left: 1px dotted #999"}= "N/A"
  .row.equal.week-outer-container.flexthis
    .week-container Week
    .weeks-container
      %ul.week_scores
        - @games.keys.each_with_index do |week, i|
        - week_name = week.try(:short_name) || (week.name ? (week.name.sub "Week", "") : "0")
          %li
            %a{href: "#wk#{(i + 65).chr}"}
              = week_name
  - @games.each_with_index do |(week, week_games), i|
    .scores{id: "wk#{(i + 65).chr}"}
      - games_by_location = week_games.group_by {|g| g.location}
      - games_by_location.each do |location, games|
        %h3
          = location.name
          - if location.map_url.present?
            %a{:href => location.map_url, :target => "_blank"}
              = fa_icon "map-marker"
        - games.each do |game|
          .row.game-row.equal
            .col-lg-8
              = render "boxscore_summary", game: game, show_week: true
            - if game.winner && !game.forfeit
              .col-lg-4
                = render "boxscore_top_performers", game: game, show_week: true
            - else
              .col-lg-4
                = render "previous_games", game: game
  = javascript_include_tag "activatables"
  %script{type: "text/javascript"}
    activatables('page', #{@week_links.to_s.html_safe})