-if @show_all
  -title "Scores & Schedules"
  = render "schedules_and_results", mode: 'schedules'
-else
  -title "#{@season.name} - #{@league.name} Schedule & Scores"
  %h1 #{@season.name} - #{@league.name} Schedule &amp; Scores
  %form{action: "#{schedules_path}", method: "get", style:'font-weight:bold;'}
    Season:
    =select_tag "season", options_from_collection_for_select(Season.order("number desc"), "id", "name", @season.id), { onchange: 'this.form.submit();', style: 'font-size:12px;' }
    =hidden_field_tag "league", @league.id
  %br
  %table.sortable.maintablestand{border: "0", width: "800", cellpadding: "3", cellspacing: "0"}
    %thead.statthead
      %tr
        %th{width: "50"} Week
        - @games.keys.each do |week|
          - week_name = week.try(:short_name) || (week ? (week.name.sub "Week", "") : "0")
          %th= week_name
    %tbody
      %tr.even2
        %td{style: "font-weight: bold;"} Date
        - @games.keys.each do |week|
          %td{style: "border-left: 1px dotted #999"}= week.start_date.strftime("%-m/%-d")
      %tr.odd2
        %td{style: "font-weight: bold;"} Bye
        - @games.each do |week, games|
          - bye_teams = @teams.select{|team| !games.any? {|game| game.home_team == team || game.away_team == team}}.map(&:abbreviation)
          %td{style: "border-left: 1px dotted #999"}= bye_teams.empty? ? "N/A" : bye_teams.join(", ")
  %p{style:"font-size:12px; font-weight:bold;"}
  %h3 &nbsp;
  %ul#weekscores
    %li
      %a.weekscores_wk{name: "scores"}
        %h1 Week
    - @games.keys.each_with_index do |week, i|
      - week_name = week.try(:short_name) || (week.name ? (week.name.sub "Week", "") : "0")
      %li
        %a.weekscores_wklink{href: "#wk#{(i + 65).chr}"}
          %h1.weekscores_wkname= week_name
  - @games.each_with_index do |(week, week_games), i|
    .scores{id: "wk#{(i + 65).chr}"}
      - games_by_location = week_games.group_by {|g| g.location.name}
      - games_by_location.each do |location, games|
        %h1= location
        - games.each do |game|
          %p.sep
            %div{:style=>"display:block;float:left;", :class=>"boxscore"}
              = render "boxscore_summary", game: game, show_week: true
            = render "boxscore_top_performers", game: game, show_week: true
  = javascript_include_tag "activatables"
  %script{type: "text/javascript"}
    activatables('page', #{@week_links.to_s.html_safe})