%h1= @team.name
%p.ls This is #{@team.name}'s #{@team.season_count} season. See below for the following:
%ul
  %il
    %p.sep 
      &bull;&nbsp;
      %a{ href: "#schedule" }> #{@team.name}'s schedule with results
      ,
  %il
    %p.shortlinesep
      &bull;&nbsp;
      %a{ href: "#stats" }> Per game and cumulative stats for each player
      \.
%p.ls &nbsp;
%a#schedule{ name: "schedule" }
%h1 Schedule
%p.hl
%table.maintablestand{ border: "0", width: "550", cellpadding:"5", cellspacing:"0" }
  %tbody
    %tr.statthead
      %td Week
      %td Date
      %td Time
      %td Opponent
      %td{ colspan: "2" } Result
    - @schedule.sort_by {|g| g.date}.each do |game|
      %tr{class: "#{cycle('odd2', 'even2')}"}
        %td
          %a{href: stats_boxscore_path(game)}= game.week_name ? game.week_name : "N/A"
        %td= game.date.to_s(:short_ordinal)
        %td= game.time.strftime("%l:%M%p")
        %td
          -opponent = game.home_team.id == @team.id ? game.away_team : game.home_team
          %a{href: stats_team_path(opponent)}= opponent.name
        - if game.winner
          %td{ class: game.winner == @team.id ? "win" : "loss" }= game.winner == @team.id ? "W" : "L"
          - if !game.forfeit
            %td= game.home_team.id == @team.id ? "#{game.home_score}-#{game.away_score}" : "#{game.away_score}-#{game.home_score}"
          - else
            %td
              %em Forfeit
        - else
          %td
          %td
%p.ls &nbsp;
%a#stats{name: "stats"}
%h1 Team Stats
%p.sep Per game stats for #{@team.name}:
%table{cellspacing: "0", cellpadding: "2", width: "650"}
  %tbody
    %tr.statthead
      %td{width: "105"}= @team.abbreviation
      %td{width: "90"} Field Goals
      %td{width: "90"} 3PT
      %td{width: "90"} FT
      %td{width: "75"} Rebounds
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
%p.ns
%table#teamstats.sortable.maintablelr{cellspacing: "0", cellpadding: "2", width: "650"}
  %thead.statthead
    %tr
      %th{width: "10"} No.
      %th.sorttable_nosort{width: "95"} Name
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "25"} O
      %th{width: "25"} D
      %th{width: "25"} T
      %th{width: "25"} A
      %th{width: "25"} S
      %th{width: "25"} B
      %th{width: "25"} F
      %th{width: "25"} P
  %tbody
    - @roster.sort_by {|rs| rs.player.last_name}.sort_by {|rs| rs.jersey_number ? rs.jersey_number : 1000}.each do |roster_spot|
      - if @per_game_player_stats.has_key?(roster_spot.player_id)
        - stats = @per_game_player_stats[roster_spot.player_id]
        %tr{class: "#{cycle('odd2', 'even2')}"}
          %td= roster_spot.jersey_number
          %td= roster_spot.player.name
          %td.lline #{number_with_precision(stats.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.fga, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.fgpct ? number_with_precision(stats.fgpct, precision: 3) : "0.000"
          %td.lline #{number_with_precision(stats.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.threea, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.threepct ? number_with_precision(stats.threepct, precision: 3) : "0.000"
          %td.lline #{number_with_precision(stats.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.fta, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.ftpct ? number_with_precision(stats.ftpct, precision: 3) : "0.000"
          %td.lline= number_with_precision(stats.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.trb, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(stats.ast, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(stats.stl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(stats.blk, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(stats.fl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(stats.points, precision: 1, strip_insignificant_zeros: true)
  %tfoot
    %tr.stattotal
      %td &nbsp;
      %td Total
      %td.lline #{number_with_precision(@per_game_stats.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.fga, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(@per_game_stats.fgpct, precision: 3)
      %td.lline #{number_with_precision(@per_game_stats.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.threea, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(@per_game_stats.threepct, precision: 3)
      %td.lline #{number_with_precision(@per_game_stats.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.fta, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(@per_game_stats.ftpct, precision: 3)
      %td.lline= number_with_precision(@per_game_stats.orb, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(@per_game_stats.drb, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(@per_game_stats.trb, precision: 1, strip_insignificant_zeros: true)
      %td.lline= number_with_precision(@per_game_stats.ast, precision: 1, strip_insignificant_zeros: true)
      %td.lline= number_with_precision(@per_game_stats.stl, precision: 1, strip_insignificant_zeros: true)
      %td.lline= number_with_precision(@per_game_stats.blk, precision: 1, strip_insignificant_zeros: true)
      %td.lline= number_with_precision(@per_game_stats.fl, precision: 1, strip_insignificant_zeros: true)
      %td.lline= number_with_precision(@per_game_stats.points, precision: 1, strip_insignificant_zeros: true)
%br
%p.sep Cumulative stats for Game Blouses:
%p.ls
%table{cellspacing: "0", cellpadding: "2", width: "650"}
  %tbody
    %tr.statthead
      %td{width: "105"}= @team.abbreviation
      %td{width: "90"} Field Goals
      %td{width: "90"} 3PT
      %td{width: "90"} FT
      %td{width: "75"} Rebounds
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
      %td{width: "25"} &nbsp;
%p.ns
%table#teamstats.sortable.maintablelr{cellspacing: "0", cellpadding: "2", width: "650"}
  %thead.statthead
    %tr
      %th{width: "10"} No.
      %th.sorttable_nosort{width: "95"} Name
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "55"} M-A
      %th{width: "35"} %
      %th{width: "25"} O
      %th{width: "25"} D
      %th{width: "25"} T
      %th{width: "25"} A
      %th{width: "25"} S
      %th{width: "25"} B
      %th{width: "25"} F
      %th{width: "25"} P
  %tbody
    - @roster.sort_by {|rs| rs.player.last_name}.sort_by {|rs| rs.jersey_number ? rs.jersey_number : 1000}.each do |roster_spot|
      - if @cumulative_player_stats.has_key?(roster_spot.player_id)
        - stats = @cumulative_player_stats[roster_spot.player_id]
        %tr{class: "#{cycle('odd2', 'even2')}"}
          %td= roster_spot.jersey_number
          %td= roster_spot.player.name
          %td.lline #{stats.fgm.round}-#{stats.fga.round}
          %td= stats.fgpct ? number_with_precision(stats.fgpct, precision: 3) : "0.000"
          %td.lline #{stats.threem.round}-#{stats.threea.round}
          %td= stats.threepct ? number_with_precision(stats.threepct, precision: 3) : "0.000"
          %td.lline #{stats.ftm.round}-#{stats.fta.round}
          %td= stats.ftpct ? number_with_precision(stats.ftpct, precision: 3) : "0.000"
          %td.lline= stats.orb.round
          %td= stats.drb.round
          %td= stats.trb.round
          %td.lline= stats.ast.round
          %td.lline= stats.stl.round
          %td.lline= stats.blk.round
          %td.lline= stats.fl.round
          %td.lline= stats.points.round
  %tfoot
    - per_game_stats = total_stat_lines(@cumulative_player_stats.values)
    %tr.stattotal
      %td &nbsp;
      %td Total
      %td.lline #{per_game_stats.fgm.round}-#{per_game_stats.fga.round}
      %td= number_with_precision(per_game_stats.fgpct, precision: 3)
      %td.lline #{per_game_stats.threem.round}-#{per_game_stats.threea.round}
      %td= number_with_precision(per_game_stats.threepct, precision: 3)
      %td.lline #{per_game_stats.ftm.round}-#{per_game_stats.fta.round}
      %td= number_with_precision(per_game_stats.ftpct, precision: 3)
      %td.lline= per_game_stats.orb.round
      %td= per_game_stats.drb.round
      %td= per_game_stats.trb.round
      %td.lline= per_game_stats.ast.round
      %td.lline= per_game_stats.stl.round
      %td.lline= per_game_stats.blk.round
      %td.lline= per_game_stats.fl.round
      %td.lline= per_game_stats.points.round
%p.ls
  =render "glossary"