%link{:rel=>"stylesheet", :href=>"gal/jquery.fancybox.css", :type=>"text/css",:media=>"screen"}
%script{:type=>"text/html", :src =>"gal/jquery.fancybox.pack.js"}
-title @team.name
%h1= @team.name
.row.sub-body-menu
  .col-lg-4.col-md-6.col-xs-6{:style => "padding:15px 2.5%"}
    %form{action: "#{stats_team_path(@team)}", method: "get", style: 'font-weight:bold;'}
      Season:
      %span.season-dropdown-container
        =select_tag "season", options_from_collection_for_select(@seasons, "id", "name", @current_season.id), { onchange: 'this.form.submit();' }
-if @team_spot.team_photo_url.present?
  %img.team-pic.img-responsive{alt:"#{@team.name}", src:"#{@team_spot.team_photo_url}"}
-elsif @old_team_url.present?
  %img.team-pic.img-responsive{alt:"#{@old_team_season.name}", src:"#{@old_team_url.team_photo_url}"}
  %p{:style => "font-size:10px;font-weight:bold;text-align:center"} #{@old_team_season.name}
%a#schedule{ name: "schedule" }
%h1 Schedule
.table-responsive
  %table.table.responsive-2.table-striped.table-stats{ border: "0", cellpadding:"0", cellspacing:"0" }
    %thead
      %tr
        %th Week
        %th Date
        %th Time
        %th Opponent
        %th Location
        %th{ colspan: "2" } Result
    %tbody
      -@weeks.each do |week|
        -games = @games.select{|g| g.week.try(:id) == week.id}
        -if games.empty? && !week.playoffs && week != @weeks[-1]
          %tr
            %td= week.name.blank? ? "N/A" : week.name
            %td{colspan:"6"}
              %em BYE
        -else
          -games.sort_by{|g| g.date}.each do |game|
            %tr
              %td
                %a{href: stats_boxscore_path(game)}= @team_spot.division ? game.boxscore_week_name.gsub("#{@team_spot.division.name} - ", "") : game.boxscore_week_name
              %td= game.date.to_s(:short_ordinal)
              %td= game.time.strftime("%l:%M%p")
              %td
                -opponent = game.home_team.id == @team.id ? game.away_team : game.home_team
                %a{href: stats_team_path(opponent)}= opponent.name
              %td
                = game.location.name
                - if game.location.map_url.present?
                  %a{:href => game.location.map_url, :target => "_blank"}
                    = fa_icon "map-marker"
              - if game.winner
                - result = game.winner == -1 ? "T" : (game.winner == @team.id ? "W" : "L")
                %td{ class: result == "T" ? "tie" : (result == "W" ? "win" : "loss") }= result
                - if !game.forfeit
                  %td
                    %a{href: stats_boxscore_path(game)}= game.home_team.id == @team.id ? "#{game.home_score}-#{game.away_score}" : "#{game.away_score}-#{game.home_score}"
                - else
                  %td
                    %a{href: stats_boxscore_path(game)}
                      %em Forfeit
              - else
                %td
                %td
%a#stats{name: "stats"}
%h1 Team Stats
%h4 Per Game
%table.table.responsive.responsive-2.table-striped.table-stats.full-boxscore.sortable{cellspacing: "0", cellpadding: "3"}
  %thead
    %tr
      %th.r-lock  
      %th.r-lock  
      %th{:colspan => "2"} Field Goals
      %th{:colspan => "2"} 3PT
      %th{:colspan => "2"} FT
      %th{:colspan => "3"} Rebounds
      %th  
      %th  
      %th  
      %th  
      %th  
    %tr
      %th.r-lock No.
      %th.sorttable_nosort.r-lock Name
      %th M-A
      %th %
      %th M-A
      %th %
      %th M-A
      %th %
      %th O
      %th D
      %th T
      %th A
      %th S
      %th B
      %th F
      %th P
  %tbody
    - @roster.sort_by {|rs| rs.player.last_name}.sort_by {|rs| rs.jersey_number ? rs.jersey_number : 1000}.each do |roster_spot|
      - if @per_game_player_stats.has_key?(roster_spot.player_id)
        - stats = @per_game_player_stats[roster_spot.player_id]
        %tr
          %td= roster_spot.jersey_number
          %td
            %a{href: stats_player_path(roster_spot.player)}= roster_spot.player.name
          %td #{number_with_precision(stats.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.fga, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.fgpct ? number_with_precision(stats.fgpct, precision: 3) : "0.000"
          %td #{number_with_precision(stats.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.threea, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.threepct ? number_with_precision(stats.threepct, precision: 3) : "0.000"
          %td #{number_with_precision(stats.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stats.fta, precision: 1, strip_insignificant_zeros: true)}
          %td= stats.ftpct ? number_with_precision(stats.ftpct, precision: 3) : "0.000"
          %td= number_with_precision(stats.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.trb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.ast, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.stl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.blk, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.fl, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(stats.points, precision: 1, strip_insignificant_zeros: true)
  %tfoot
    %tr
      -per_game_stats = @per_game_stats || PlayerStat.new
      %td.r-lock &nbsp;
      %td.r-lock Total
      %td #{number_with_precision(per_game_stats.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(per_game_stats.fga, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(per_game_stats.fgpct, precision: 3)
      %td #{number_with_precision(per_game_stats.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(per_game_stats.threea, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(per_game_stats.threepct, precision: 3)
      %td #{number_with_precision(per_game_stats.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(per_game_stats.fta, precision: 1, strip_insignificant_zeros: true)}
      %td= number_with_precision(per_game_stats.ftpct, precision: 3)
      %td= number_with_precision(per_game_stats.orb, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.drb, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.trb, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.ast, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.stl, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.blk, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.fl, precision: 1, strip_insignificant_zeros: true)
      %td= number_with_precision(per_game_stats.points, precision: 1, strip_insignificant_zeros: true)
%h4.space Cumulative
%table.table.responsive.responsive-2.table-striped.table-stats.full-boxscore.sortable{cellspacing: "0", cellpadding: "3"}
  %thead
    %tr
      %th.r-lock  
      %th.r-lock  
      %th{:colspan => "2"} Field Goals
      %th{:colspan => "2"} 3PT
      %th{:colspan => "2"} FT
      %th{:colspan => "3"} Rebounds
      %th  
      %th  
      %th  
      %th  
      %th  
    %tr
      %th.r-lock No.
      %th.sorttable_nosort.r-lock Name
      %th M-A
      %th %
      %th M-A
      %th %
      %th M-A
      %th %
      %th O
      %th D
      %th T
      %th A
      %th S
      %th B
      %th F
      %th P
  %tbody
    - @roster.sort_by {|rs| rs.player.last_name}.sort_by {|rs| rs.jersey_number ? rs.jersey_number : 1000}.each do |roster_spot|
      - if @cumulative_player_stats.has_key?(roster_spot.player_id)
        - stats = @cumulative_player_stats[roster_spot.player_id]
        %tr
          %td= roster_spot.jersey_number
          %td
            %a{href: stats_player_path(roster_spot.player)}= roster_spot.player.name
          %td #{stats.fgm.round}-#{stats.fga.round}
          %td= stats.fgpct ? number_with_precision(stats.fgpct, precision: 3) : "0.000"
          %td #{stats.threem.round}-#{stats.threea.round}
          %td= stats.threepct ? number_with_precision(stats.threepct, precision: 3) : "0.000"
          %td #{stats.ftm.round}-#{stats.fta.round}
          %td= stats.ftpct ? number_with_precision(stats.ftpct, precision: 3) : "0.000"
          %td= stats.orb.round
          %td= stats.drb.round
          %td= stats.trb.round
          %td= stats.ast.round
          %td= stats.stl.round
          %td= stats.blk.round
          %td= stats.fl.round
          %td= stats.points.round
  %tfoot
    - per_game_stats = @cumulative_team_stats || PlayerStat.new #total_stat_lines(@cumulative_player_stats.values)
    %tr.stattotal
      %td.r-lock &nbsp;
      %td.r-lock Total
      %td #{per_game_stats.fgm.round}-#{per_game_stats.fga.round}
      %td= number_with_precision(per_game_stats.fgpct, precision: 3)
      %td #{per_game_stats.threem.round}-#{per_game_stats.threea.round}
      %td= number_with_precision(per_game_stats.threepct, precision: 3)
      %td #{per_game_stats.ftm.round}-#{per_game_stats.fta.round}
      %td= number_with_precision(per_game_stats.ftpct, precision: 3)
      %td= per_game_stats.orb.round
      %td= per_game_stats.drb.round
      %td= per_game_stats.trb.round
      %td= per_game_stats.ast.round
      %td= per_game_stats.stl.round
      %td= per_game_stats.blk.round
      %td= per_game_stats.fl.round
      %td= per_game_stats.points.round
=render "glossary"