-title @player.name
%hr{style:"height:4px; visibility:hidden; margin-bottom:-1px;"}
-if @player.show_about?
  =render "player_box"
-else
  =render "player_box_2"
%ul#playerprof1
  -button_class = @player.show_about? ? "profbutton" : "profbutton2"
  -if @player.show_about?
    %li.stat_types
      %a.profbutton{ href:"#about" } About
  %li.stat_types
    %a{class:"#{button_class}", href:"#gamelog" } Game Log
  %li.stat_types
    %a{class:"#{button_class}", href:"#careerstats" } Career
  %li.stat_types
    %a{class:"#{button_class}", href:"#splits" } Splits
%div.profstats#about
  %table{ width:"800", cellpadding:"0", cellspacing:"0", border:"0"}
    %tbody
      %tr
        %td{ style:"padding: 5px", width:"175", align:"right" }
          %h2 Name:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.name
      -if not @player.birthday.blank?
        %tr
          %td{ style:"padding: 5px", align:"right" }
            %h2 Age:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.calc_age
      -if @player.last_team  
        %tr
          %td{ style:"padding: 5px", align:"right" }
            %h2 Team:
          %td{ style:"padding: 5px" }
            -if @player.last_teams.any?
              %a{ style:"line-height:130%;font-size:13px;", href: stats_team_path(@player.last_teams[0]) }= @player.last_teams[0].name 
              -if @player.last_teams.count == 2
                \/
                %a{ style:"line-height:130%;font-size:13px;", href: stats_team_path(@player.last_teams[1]) }= @player.last_teams[1].name
      -if not @player.hometown.blank?
        %tr
          %td{ style:"padding: 5px", align:"right" }
            %h2 Hometown:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.hometown
      -if not @player.school.blank?
        %tr
          %td{ style:"padding: 5px", align:"right" }
            %h2 Education:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.school
      -if not @player.day_job.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 Day Job:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.day_job
      -if not @player.league_love.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 What you love about the league:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.league_love
      -if not @player.little_known_fact.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 Little known fact:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.little_known_fact
      -if not @player.did_you_know.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 Did you know:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.did_you_know
      -if not @player.one_last_thing.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 One last thing:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.one_last_thing
      -if not @player.about.blank?
        %tr
          %td{ align:"right", style:"padding: 5px" }
            %h2 More about me:
          %td{ style:"padding: 5px" }
            %span{ style:"line-height:130%;font-size:13px;" }= @player.about
%div.profstats#splits
  %form{action: "#{stats_player_path(@player)}#splits", method: "get", style: 'font-weight:bold;'}
    Season:
    =select_tag "splits", options_from_collection_for_select(@seasons, "id", "name", @season.id), { onchange: 'this.form.submit();', style: 'font-size:12px;' }
  %br
  -@all_splits.each do |team_id, splits|
    -splits_totals = splits['Totals'] || PlayerStat.new
    %table{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 105px;" }
        %col{ span:"1", style:"width: 20px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %tbody
        %tr.statthead
          %td= Team.find_by_id(team_id).try(:name)
          %td &nbsp;
          %td{ colspan:"2" } Field Goals
          %td{ colspan:"2" } 3PT
          %td{ colspan:"2" } FT
          %td{ colspan:"3" } Rebounds
          %td{ colspan:"5" } &nbsp;
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 105px;" }
        %col{ span:"1", style:"width: 20px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 35px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %thead.statthead
        %tr
          %th.sorttable_nosort{ style:"text-align:left;" } Split
          %th.sorttable_nosort GP
          %th.sorttable_nosort M-A
          %th.sorttable_nosort %
          %th.sorttable_nosort M-A
          %th.sorttable_nosort %
          %th.sorttable_nosort M-A
          %th.sorttable_nosort %
          %th.sorttable_nosort O
          %th.sorttable_nosort D
          %th.sorttable_nosort T
          %th.sorttable_nosort A
          %th.sorttable_nosort S
          %th.sorttable_nosort B
          %th.sorttable_nosort F
          %th.sorttable_nosort P
      %tbody
        %tr.stattotal
          %td{ style:"text-align:left" } Total
          %td.lline= splits_totals.game_count
          %td.lline #{number_with_precision(splits_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.fgpct, precision: 3)
          %td.lline #{number_with_precision(splits_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.threepct, precision: 3)
          %td.lline #{number_with_precision(splits_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.ftpct, precision: 3)
          %td.lline= number_with_precision(splits_totals.orb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(splits_totals.drb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(splits_totals.trb, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.ast, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.stl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.blk, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.fl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.points, precision: 1, strip_insignificant_zeros: false)
        - splits.select{|s| s != "Totals"}.each do |split, stats|
          %tr.statthead
            %td{ style:"text-align:left;" }= split
            %td{ colspan:"15" } &nbsp;
          - reset_cycle
          - stats.each do |stat|
            %tr{class: "#{cycle('even2', 'odd2')}"}
              %td{ style:"text-align:left;" }= stat.split_name
              %td.lline= stat.game_count
              %td.lline #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: false)}
              %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
              %td.lline #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: false)}
              %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
              %td.lline #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: false)}
              %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
              %td.lline= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: false)
              %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: false)
              %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: false)
              %td.lline= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: false)
              %td.lline= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: false)
              %td.lline= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: false)
              %td.lline= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: false)
              %td.lline= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: false)
        %tr.stattotal
          %td{ style:"text-align:left;" } Total
          %td.lline= splits_totals.game_count
          %td.lline #{number_with_precision(splits_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.fgpct, precision: 3)
          %td.lline #{number_with_precision(splits_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.threepct, precision: 3)
          %td.lline #{number_with_precision(splits_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(splits_totals.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(splits_totals.ftpct, precision: 3)
          %td.lline= number_with_precision(splits_totals.orb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(splits_totals.drb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(splits_totals.trb, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.ast, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.stl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.blk, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.fl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(splits_totals.points, precision: 1, strip_insignificant_zeros: false)
    %br
  %table(cellpadding="2" cellspacing="0" border="0" width="650")
    %tbody
      %tr
        %td(colspan="3")
          %b
            %em Glossary
      %tr.terms
        %td
          %b GP
        %td(width="205") Games Played
        %td
          %b O
        <td width="155">Offensive Rebounds
        %td
          %b A
        %td Assists
        %td
          %b F
        %td Fouls
      %tr.terms
        %td
          %b 3PT
        %td(width="205") Three Pointers (Made &amp; Attempted)
        %td
          %b D
        %td(width="155") Defensive Rebounds
        %td
          %b S
        %td Steals
        %td
          %b P
        %td Points
      %tr.terms
        %td
          %b FT
        %td(width="205") Free Throws (Made &amp; Attempted)
        %td
          %b T
        %td(width="155") Total Rebounds
        %td
          %b B
        %td Blocks
        %td &nbsp;
        %td &nbsp;
%div.profstats#gamelog
  -if @show_stats
    %form{action: "#{stats_player_path(@player)}#gamelog", method: "get", style: 'font-weight:bold;'}
      Season:
      =select_tag "log", options_from_collection_for_select(@seasons, "id", "name", @season.id), { onchange: 'this.form.submit();', style: 'font-size:12px;' }
    %br
    -@game_log.group_by{|sl| sl.season}.each do |season, season_log|
      -season_log.group_by{|sl| sl.team_id}.each do |team_id, game_log|
        %table{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
          %colgroup
            %col{ span:"1", style:"width: 110px;" }
            %col{ span:"1", style:"width: 60px;" }
            %col{ span:"1", style:"width: 40px;" }
            %col{ span:"1", style:"width: 60px;" }
            %col{ span:"1", style:"width: 40px;" }
            %col{ span:"1", style:"width: 60px;" }
            %col{ span:"1", style:"width: 40px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
            %col{ span:"1", style:"width: 30px;" }
          %tbody
            %tr.statthead
              %td= season.name
              %td{ colspan:"2" } Field Goals
              %td{ colspan:"2" } 3PT
              %td{ colspan:"2" } FT
              %td{ colspan:"3" } Rebounds
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
          %table#teamstats.sortable{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
            %colgroup
              %col{ span:"1", style:"width: 110px;" }
              %col{ span:"1", style:"width: 60px;" }
              %col{ span:"1", style:"width: 40px;" }
              %col{ span:"1", style:"width: 60px;" }
              %col{ span:"1", style:"width: 40px;" }
              %col{ span:"1", style:"width: 60px;" }
              %col{ span:"1", style:"width: 40px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
              %col{ span:"1", style:"width: 30px;" }
            %thead.statthead
              %tr
                %th= Team.find_by_id(team_id).try(:name)
                %th M-A
                %th %
                %th M-A
                %th %
                %th M-A
                %th %
                %th O
                %th D
                %th T
                %th A
                %th S
                %th B
                %th F
                %th P
            %tbody
              -reset_cycle
              - game_log.each do |stat|
                %tr{class: "#{cycle('even2', 'odd2')}"}
                  %td
                    %a{href: stats_boxscore_path(stat.game)}= stat.game.boxscore_week_name ? stat.game.boxscore_week_name : "N/A"
                  %td.lline= "#{stat.fgm.round}-#{stat.fga.round}"
                  %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
                  %td.lline= "#{stat.threem.round}-#{stat.threea.round}"
                  %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
                  %td.lline= "#{stat.ftm.round}-#{stat.fta.round}"
                  %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
                  %td.lline= stat.orb.round
                  %td= stat.drb.round
                  %td= stat.trb.round
                  %td.lline= stat.ast.round
                  %td.lline= stat.stl.round
                  %td.lline= stat.blk.round
                  %td.lline= stat.fl.round
                  %td.lline= stat.points.round
            %tfooter
              %tr.stattotal
                -per_game_stats = @career_season_averages.select{|sl| sl.season_id == season.id && sl.team_id == team_id}.first || PlayerStat.new
                %td Per Gm
                %td.lline #{number_with_precision(per_game_stats.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.fga, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((per_game_stats.fgpct ? per_game_stats.fgpct : 0), precision: 3)
                %td.lline #{number_with_precision(per_game_stats.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.threea, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((per_game_stats.threepct ? per_game_stats.threepct : 0), precision: 3)
                %td.lline #{number_with_precision(per_game_stats.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(per_game_stats.fta, precision: 1, strip_insignificant_zeros: false)}
                %td= number_with_precision((per_game_stats.ftpct ? per_game_stats.ftpct : 0), precision: 3)
                %td.lline= number_with_precision(per_game_stats.orb, precision: 1, strip_insignificant_zeros: false)
                %td= number_with_precision(per_game_stats.drb, precision: 1, strip_insignificant_zeros: false)
                %td= number_with_precision(per_game_stats.trb, precision: 1, strip_insignificant_zeros: false)
                %td.lline= number_with_precision(per_game_stats.ast, precision: 1, strip_insignificant_zeros: false)
                %td.lline= number_with_precision(per_game_stats.stl, precision: 1, strip_insignificant_zeros: false)
                %td.lline= number_with_precision(per_game_stats.blk, precision: 1, strip_insignificant_zeros: false)
                %td.lline= number_with_precision(per_game_stats.fl, precision: 1, strip_insignificant_zeros: false)
                %td.lline= number_with_precision(per_game_stats.points, precision: 1, strip_insignificant_zeros: false)
              %tr.stattotal
                %td Total
                - totals = total_stat_lines(game_log)
                %td.lline= "#{totals.fgm.round}-#{totals.fga.round}"
                %td= number_with_precision((totals.fgpct ? totals.fgpct : 0), precision: 3) 
                %td.lline= "#{totals.threem.round}-#{totals.threea.round}"
                %td= number_with_precision((totals.threepct ? totals.threepct : 0), precision: 3) 
                %td.lline= "#{totals.ftm.round}-#{totals.fta.round}"
                %td= number_with_precision((totals.ftpct ? totals.ftpct : 0), precision: 3) 
                %td.lline= totals.orb.round
                %td= totals.drb.round
                %td= totals.trb.round
                %td.lline= totals.ast.round
                %td.lline= totals.stl.round
                %td.lline= totals.blk.round
                %td.lline= totals.fl.round
                %td.lline= totals.points.round
        %br
    -if @season_highs  
      %h1 Season Highs
      %p.sep
      %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"5" }
        %thead.statthead
          %tr
            %th.text-left Stat
            %th Season High
            %th Game
        %tbody
          -reset_cycle
          -@season_highs.each do |stat_name, stat|
            %tr{class: "#{cycle('even2', 'odd2')}"}
              =render "career_high", name: stat_name, career_high: stat
    %br
    =render "glossary"
%div.profstats#careerstats
  %p.sep
    %table{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 50px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %tbody
        %tr.statthead
          %td{ colspan:"2" } Per Game
          %td{ colspan:"2" } Field Goals
          %td{ colspan:"2" } 3PT
          %td{ colspan:"2" } FT
          %td{ colspan:"3" } Rebounds
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 50px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %thead.statthead
        %tr
          %th Season
          %th.sorttable_nosort TM
          %th M-A
          %th %
          %th M-A
          %th %
          %th M-A
          %th %
          %th O
          %th D
          %th T
          %th A
          %th S
          %th B
          %th F
          %th P
      %tbody
        - reset_cycle
        - @career_season_averages.each do |stat|
          %tr{class: "#{cycle('even2', 'odd2')}"}
            %td= stat.season_number
            %td= link_to stat.team.abbreviation, stats_team_path(stat.team, season: stat.season_id)
            %td.lline #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
            %td.lline #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
            %td.lline #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: false)}
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
            %td.lline= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: false)
            %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: false)
            %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: false)
            %td.lline= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: false)
            %td.lline= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: false)
            %td.lline= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: false)
            %td.lline= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: false)
            %td.lline= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: false)
      %tfoot
        %tr.stattotal
          %td{ colspan:"2" } Career Avg
          %td.lline #{number_with_precision(@career_averages.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.fgpct, precision: 3)
          %td.lline #{number_with_precision(@career_averages.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.threepct, precision: 3)
          %td.lline #{number_with_precision(@career_averages.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(@career_averages.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(@career_averages.ftpct, precision: 3)
          %td.lline= number_with_precision(@career_averages.orb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(@career_averages.drb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(@career_averages.fl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: false)
    %br
    %table{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 50px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %tbody
        %tr.statthead
          %td{ colspan:"2" } Total
          %td{ colspan:"2" } Field Goals
          %td{ colspan:"2" } 3PT
          %td{ colspan:"2" } FT
          %td{ colspan:"3" } Rebounds
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
    %table#teamstats.sortable{ cellspacing:"0", cellpadding:"2", style:"width:800px; table-layout:fixed;" }
      %colgroup
        %col{ span:"1", style:"width: 50px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 60px;" }
        %col{ span:"1", style:"width: 40px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
        %col{ span:"1", style:"width: 30px;" }
      %thead.statthead
        %tr
          %th Season
          %th.sorttable_nosort TM
          %th M-A
          %th %
          %th M-A
          %th %
          %th M-A
          %th %
          %th O
          %th D
          %th T
          %th A
          %th S
          %th B
          %th F
          %th P
      %tbody
        - reset_cycle
        - @career_season_totals.each do |stat|
          //- stat.calc_percentages
          %tr{class: "#{cycle('even2', 'odd2')}"}
            %td= stat.season_number
            %td= link_to stat.team.abbreviation, stats_team_path(stat.team, season: stat.season_id)
            %td.lline= "#{stat.fgm.round}-#{stat.fga.round}"
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
            %td.lline= "#{stat.threem.round}-#{stat.threea.round}"
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
            %td.lline= "#{stat.ftm.round}-#{stat.fta.round}"
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
            %td.lline= stat.orb.round
            %td= stat.drb.round
            %td= stat.trb.round
            %td.lline= stat.ast.round
            %td.lline= stat.stl.round
            %td.lline= stat.blk.round
            %td.lline= stat.fl.round
            %td.lline= stat.points.round
      %tfoot
        %tr.stattotal
          %td{ colspan:"2" } Total
          %td.lline= "#{@career_totals.fgm.round}-#{@career_totals.fga.round}"
          %td= number_with_precision((@career_totals.fgpct ? @career_totals.fgpct : 0), precision: 3) 
          %td.lline= "#{@career_totals.threem.round}-#{@career_totals.threea.round}"
          %td= number_with_precision((@career_totals.threepct ? @career_totals.threepct : 0), precision: 3) 
          %td.lline= "#{@career_totals.ftm.round}-#{@career_totals.fta.round}"
          %td= number_with_precision((@career_totals.ftpct ? @career_totals.ftpct : 0), precision: 3) 
          %td.lline= @career_totals.orb.round
          %td= @career_totals.drb.round
          %td= @career_totals.trb.round
          %td.lline= @career_totals.ast.round
          %td.lline= @career_totals.stl.round
          %td.lline= @career_totals.blk.round
          %td.lline= @career_totals.fl.round
          %td.lline= number_with_delimiter(@career_totals.points.round)
        %tr.stattotal
          -average_per_season_totals = average_stat_lines(@career_season_totals)
          %td{ colspan:"2" } Avg/Season
          %td.lline #{number_with_precision(average_per_season_totals.fgm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.fga, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.fgpct, precision: 3)
          %td.lline #{number_with_precision(average_per_season_totals.threem, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.threea, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.threepct, precision: 3)
          %td.lline #{number_with_precision(average_per_season_totals.ftm, precision: 1, strip_insignificant_zeros: false)}-#{number_with_precision(average_per_season_totals.fta, precision: 1, strip_insignificant_zeros: false)}
          %td= number_with_precision(average_per_season_totals.ftpct, precision: 3)
          %td.lline= number_with_precision(average_per_season_totals.orb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(average_per_season_totals.drb, precision: 1, strip_insignificant_zeros: false)
          %td= number_with_precision(average_per_season_totals.trb, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(average_per_season_totals.ast, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(average_per_season_totals.stl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(average_per_season_totals.blk, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(average_per_season_totals.fl, precision: 1, strip_insignificant_zeros: false)
          %td.lline= number_with_precision(average_per_season_totals.points, precision: 1, strip_insignificant_zeros: false)
  %br
  %h1 Career Highs
  %p.sep
  %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"5" }
    %thead.statthead
      %tr
        %th.text-left Stat
        %th Career High
        %th Game
    %tbody
      -reset_cycle
      -@career_highs.each do |stat_name, stat|
        %tr{class: "#{cycle('even2', 'odd2')}"}
          =render "career_high", name: stat_name, career_high: stat
  %br
  %p &nbsp;
= javascript_include_tag "activatables"
%script{type: "text/javascript"}
  activatables('page', ['gamelog', 'careerstats', 'about', 'splits']);