-title "#{@game.home_team.name} vs. #{@game.away_team.name} - #{@game.week_name} - #{@game.season.name}"
%h1 #{@game.season.name} - #{@game.league.name} Results
%table{width:"800", cellspacing:"0", cellpadding:"2", style:"text-align:center;"}
  %tr
    -prev_game = @game.previous_game
    %td{rowspan:"4", width:"50"}
      -if prev_game
        %span.scoreArrow        
          =link_to "&#171;".html_safe, stats_boxscore_path(prev_game)
    %td{rowspan:"4", width:"50"}
      -if prev_game
        %a{href:stats_boxscore_path(prev_game)}
          %span= prev_game.time.strftime("%l%p")
          %br>
          %span= prev_game.home_team.abbreviation
          %br>
          %span vs.
          %br>
          %span= prev_game.away_team.abbreviation
    %td
      %i #{@game.boxscore_week_name} - #{@game.date.strftime("%A %-m/%-d/%y")} - #{@game.time.strftime("%l:%M%p")}
    -next_game = @game.next_game
    %td{rowspan:"4", width:"50"}
      -if next_game
        %a{href:stats_boxscore_path(next_game)}
          %span= next_game.time.strftime("%l%p")
          %br>
          %span= next_game.home_team.abbreviation
          %br>
          %span vs.
          %br>
          %span= next_game.away_team.abbreviation
    %td{rowspan:"4", width:"50"}
      -if next_game
        %span.scoreArrow        
          =link_to "&#187;".html_safe, stats_boxscore_path(next_game)
  %tr
    %td
      %b
        %a{href:stats_team_path(@game.home_team)}= @game.home_team.name
  %tr
    %td vs.
  %tr
    %td
      %b
        %a{href:stats_team_path(@game.away_team)}= @game.away_team.name
.horizline
%p
=render "boxscore_summary", game: @game, show_week: false
%p
-if (not @game.photo_urls.nil?) && @game.photo_urls.any?
  :javascript
    $(document).ready(function(){
      $('#slides1').bxGallery({
        maxwidth: '',
        maxheight: '',
        thumbwidth: #{@thumb_width},
        thumbcrop: false,
        croppercent: .35,
        thumbplacement: 'top',
        thumbcontainer: '',
        opacity: .7,
        load_text: '',
        load_image: 'http://abchoopsnyc.com/images/spinner.gif',
        wrapperclass: 'outer' 
      });
    });
  
  %ul#slides1
    -@game.photo_urls.each do |url|
      %li
        %img{src: url, title:"&nbsp;"}
  .horizline
%a#fullboxscore{name:"fullboxscore"}
= render "team_boxscore", team: @game.home_team, stat_lines: @game.team_stats(@game.home_team.id)
%p{style:"line-height:50%; margin:5px;"} &nbsp;
= render "team_boxscore", team: @game.away_team, stat_lines: @game.team_stats(@game.away_team.id)
%br
= render "glossary"