<h1>Results</h1>
<h2>&nbsp;</h2>
<table width="650" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" align="left">
      <% if @game.previous_game %>
        <%= link_to "&#171;".html_safe + "#{@game.previous_game.abbreviation}", stats_boxscore_path(@game.previous_game) %>
      <% end %>
    </td>
    <td align="center"><b><%= "#{@game.time.strftime("%l:%M%p")}: #{@game.home_team.name} vs #{@game.away_team.name}" %></b></td>
    <td width="150" align="right">
      <% if @game.next_game %>
        <%= link_to "#{@game.next_game.abbreviation}" "&#187;".html_safe, stats_boxscore_path(@game.next_game) %>
      <% end %>
    </td>
  </tr>
</table>
<p class="sep">
  <%= render "boxscore_summary", game: @game %>
</p>
<a name="fullboxscore" id="fullboxscore"></a>
<p class="sep">
  <%= render "team_boxscore", team: @game.home_team, stat_lines: @game.team_stats(@game.home_team.id) %>
</p>
<p class="sep">
  <%= render "team_boxscore", team: @game.away_team, stat_lines: @game.team_stats(@game.away_team.id) %>
</p>
<p class="ls">
  <%= render "glossary" %>
</p>