%p{ style:"margin-bottom:15px;" } &nbsp;
%div.playerbox
  %table{ width:"650", border:"0", style:"margin-top:-3px;" }
    %tr
      %td{ colspan:"2", style:"padding-left:4px;" }
        %p.playername= @player.name
      %td{ rowspan:"4", width:"200" }
        %div.noplayerpic                  
          %p.playernumbernopic= @player.last_number
    %tr
      %td{ style:"padding-left:4px;" }
        %p.playerteam= @player.last_team.try(:name)
      %td{ rowspan:"2", style:"padding-left:4px;" }
        %table{ cellpadding:"3", cellspacing:"0", border:"0" }
          %thead.statthead{ style:"font-size:12px;outline: 1px solid #2e3b56;" }
            %tr
              %td &nbsp;
              %td PPG
              %td RPG
              %td APG
              %td SPG
              %td BPG
          %tbody
            %tr.odd2{ style:"font-size:14px;outline: 1px solid #000000;" }
              %td{ style:"font-size:10px;"} CAREER
              %td.lline= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: true)
            %tr.even2{ style:"font-size:14px;outline: 1px solid #000000;" }
              %td{ style:"font-size:10px;"} SEASON
              %td.lline= number_with_precision(@current_season_averages.points, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@current_season_averages.trb, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@current_season_averages.ast, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@current_season_averages.stl, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(@current_season_averages.blk, precision: 1, strip_insignificant_zeros: true)
    %tr
      %td{ rowspan:"2" }
        %table{ cellpadding:"1", cellspacing:"0", border:"0" }
          %tr
            %td{ width:"70px" }
              %b Hometown:
            %td= @player.hometown
          %tr
            %td
              %b Age:
            %td= @player.age
          %tr
            %td
              %b School:
            %td= @player.school
          %tr
            %td
              %b Day Job:
            %td= @player.day_job
          %tr
            %td
              %b Seasons:
            %td= @player.season_count
    %tr
      %td
        %div.socmedfirst
          %a{ href:"http://www.facebook.com/abchoopsnyc", target:"_blank" }
            %img.ppfacebook{ src:"/assets/socmedicons.png" }
        %div.socmednext
          %a{ href:"http://instagram.com/sensationalbulldogs", target:"_blank" }
            %img.ppinstagram{ src:"/assets/socmedicons.png" }
        %div.socmednext
          %a{ href:"https://twitter.com/coffee_dad", target:"_blank" }
            %img.pptwitter{ src:"/assets/socmedicons.png" }
%br
%ul#playerprof1
  %li.stat_types
    %a.profbutton{ href:"#about" } About
  %li.stat_types
    %a.profbutton{ href:"#gamelog" } Game Log
  %li.stat_types
    %a.profbutton{ href:"#careerstats" } Career
  %li.stat_types
    %a.profbutton{ href:"#splits" } Splits
  %li.stat_types
    %a.profbutton{ href:"#abcplus" } ABC+
  %li.stat_types
    %a.profbutton{ href:"#playerphotos" } Photos    
  
%div.profstats#about
  %table{ width:"665", cellpadding:"0", cellspacing:"0", border:"0"}
    %tbody
      %tr
        %td{ style:"padding: 5px", width:"120", align:"right" }
          %h2 Name:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.name
        %td{ rowspan:"8", colspan:"2", align:"center" }
          =image_tag(@player.profile_pic.url(:profile), class: "pic")
          %br
      %tr
        %td{ style:"padding: 5px", align:"right" }
          %h2 Age:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.age
      %tr
        %td{ style:"padding: 5px", align:"right" }
          %h2 Team:
        %td{ style:"padding: 5px" }
          %a{ style:"line-height:130%;font-size:13px;", href: stats_team_path(@player.last_team) }= @player.last_team.try(:name)
      %tr
        %td{ style:"padding: 5px", align:"right" }
          %h2 Hometown:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.hometown
      %tr
        %td{ style:"padding: 5px", align:"right" }
          %h2 Education:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.school
      %tr
        %td{ align:"right", style:"padding: 5px" }
          %h2 Day Job:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.day_job
      %tr
        %td{ align:"right", style:"padding: 5px" }
          %h2 More about me:
        %td{ style:"padding: 5px" }
          %span{ style:"line-height:130%;font-size:13px;" }= @player.about
%div.profstats#splits
  %p.sep
    %table{ cellspacing:"0", cellpadding:"2", width:"650" }
      %tbody
        %tr.statthead
          %td{ width:"80" } &nbsp;
          %td{ width:"130" } Field Goals
          %td{ width:"85" } 3PT
          %td{ width:"95" }FT
          %td{ width:"75" } Rebounds
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td &nbsp;
    %p.ns
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", width:"650" }
      %thead.statthead
        %tr
          %th.sorttable_nosort{ colspan:"2", width:"25" } Split
          %th.sorttable_nosort M-A
          %th.sorttable_nosort{ width:"35" } %
          %th.sorttable_nosort M-A
          %th.sorttable_nosort{ width:"35" } %
          %th.sorttable_nosort M-A
          %th.sorttable_nosort{ width:"35" } %
          %th.sorttable_nosort{ width:"25" } O
          %th.sorttable_nosort{ width:"25" } D
          %th.sorttable_nosort{ width:"25" } T
          %th.sorttable_nosort{ width:"25" } A
          %th.sorttable_nosort{ width:"25" } S
          %th.sorttable_nosort{ width:"25" } B
          %th.sorttable_nosort{ width:"25" } F
          %th.sorttable_nosort{ width:"45" } P
      %tbody
        - @splits.each do |split, stats|
          %tr.statthead
            %td{ colspan:"2" }= split
            %td{ colspan:"14" } &nbsp;
          - stats.each do |stat|
            %tr{class: "#{cycle('even2', 'odd2')}"}
              %td{ colspan:"2" }= stat.split_name
              %td.lline #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: true)}
              %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
              %td.lline #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: true)}
              %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
              %td.lline #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: true)}
              %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
              %td.lline= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: true)
              %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: true)
              %td.lline= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: true)
  %br
  =render "glossary", hide_sort: true
%div.profstats#abcplus
  %h1 ABC+
%div.profstats#gamelog
  %p.sep
    %table{ cellspacing:"0", cellpadding:"2", width:"650" }
      %tbody
        %tr.statthead
          %td{ width:"70" }= @player.team_by_season(@log_season).try(:abbreviation)
          %td{ width:"130" } Field Goals
          %td{ width:"85" } 3PT
          %td{ width:"95" }FT
          %td{ width:"75" } Rebounds
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td &nbsp;
    %p.ns
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", width:"650" }
      %thead.statthead
        %tr
          %th.sorttable_nosort{ colspan:"2", width:"25" }= @log_season.name
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th{ width:"25" } O
          %th{ width:"25" } D
          %th{ width:"25" } T
          %th{ width:"25" } A
          %th{ width:"25" } S
          %th{ width:"25" } B
          %th{ width:"25" } F
          %th{ width:"45" } P
      %tbody
        - @game_log.each do |stat|
          %tr{class: "#{cycle('even2', 'odd2')}"}
            %td{ colspan:"2" }
              %a{href: stats_boxscore_path(stat.game)}= stat.game.week_name ? stat.game.week_name : "N/A"
            %td.lline= "#{stat.fgm.round}-#{stat.fga.round}"
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
            %td.lline= "#{stat.threem.round}-#{stat.threea.round}"
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
            %td.lline= "#{stat.ftm.round}-#{stat.fta.round}"
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
            %td.lline= stat.orb.round
            %td= stat.drb.round
            %td= stat.trb.round
            %td.lline= stat.ast.round
            %td.lline= stat.stl.round
            %td.lline= stat.blk.round
            %td.lline= stat.fl.round
            %td.lline= stat.points.round
      %tfooter
        %tr.stattotal
          %td{ colspan:"2" } Per Gm
          %td.lline #{number_with_precision(@per_game_stats.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.fga, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision((@per_game_stats.fgpct ? @per_game_stats.fgpct : 0), precision: 3)
          %td.lline #{number_with_precision(@per_game_stats.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.threea, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision((@per_game_stats.threepct ? @per_game_stats.threepct : 0), precision: 3)
          %td.lline #{number_with_precision(@per_game_stats.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@per_game_stats.fta, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision((@per_game_stats.ftpct ? @per_game_stats.ftpct : 0), precision: 3)
          %td.lline= number_with_precision(@per_game_stats.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@per_game_stats.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@per_game_stats.trb, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@per_game_stats.ast, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@per_game_stats.stl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@per_game_stats.blk, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@per_game_stats.fl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@per_game_stats.points, precision: 1, strip_insignificant_zeros: true)
        %tr.stattotal
          %td{ colspan:"2" } Total
          - totals = total_stat_lines(@game_log)
          %td.lline= "#{totals.fgm.round}-#{totals.fga.round}"
          %td= number_with_precision((totals.fgpct ? totals.fgpct : 0), precision: 3) 
          %td.lline= "#{totals.threem.round}-#{totals.threea.round}"
          %td= number_with_precision((totals.threepct ? totals.threepct : 0), precision: 3) 
          %td.lline= "#{totals.ftm.round}-#{totals.fta.round}"
          %td= number_with_precision((totals.ftpct ? totals.ftpct : 0), precision: 3) 
          %td.lline= totals.orb.round
          %td= totals.drb.round
          %td= totals.trb.round
          %td.lline= totals.ast.round
          %td.lline= totals.stl.round
          %td.lline= totals.blk.round
          %td.lline= totals.fl.round
          %td.lline= totals.points.round
  %br
  =render "glossary"
%div.profstats#careerstats
  %p.sep
    %table{ cellspacing:"0", cellpadding:"2", width:"650" }
      %tbody
        %tr.statthead
          %td{ width:"70" } Per Game
          %td{ width:"130" } Field Goals
          %td{ width:"85" } 3PT
          %td{ width:"95" } FT
          %td{ width:"75" } Rebounds
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td &nbsp;
    %p.ns
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", width:"650" }
      %thead.statthead
        %tr
          %th{ width:"25" } Season
          %th.sorttable_nosort TM
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th{ width:"25" } O
          %th{ width:"25" } D
          %th{ width:"25" } T
          %th{ width:"25" } A
          %th{ width:"25" } S
          %th{ width:"25" } B
          %th{ width:"25" } F
          %th{ width:"45" } P
      %tbody
        - @career_season_averages.each do |stat|
          %tr{class: "#{cycle('even2', 'odd2')}"}
            %td= stat.season_number
            %td= stat.team.abbreviation
            %td.lline #{number_with_precision(stat.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.fga, precision: 1, strip_insignificant_zeros: true)}
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3)
            %td.lline #{number_with_precision(stat.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.threea, precision: 1, strip_insignificant_zeros: true)}
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3)
            %td.lline #{number_with_precision(stat.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(stat.fta, precision: 1, strip_insignificant_zeros: true)}
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3)
            %td.lline= number_with_precision(stat.orb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.drb, precision: 1, strip_insignificant_zeros: true)
            %td= number_with_precision(stat.trb, precision: 1, strip_insignificant_zeros: true)
            %td.lline= number_with_precision(stat.ast, precision: 1, strip_insignificant_zeros: true)
            %td.lline= number_with_precision(stat.stl, precision: 1, strip_insignificant_zeros: true)
            %td.lline= number_with_precision(stat.blk, precision: 1, strip_insignificant_zeros: true)
            %td.lline= number_with_precision(stat.fl, precision: 1, strip_insignificant_zeros: true)
            %td.lline= number_with_precision(stat.points, precision: 1, strip_insignificant_zeros: true)
      %tfoot
        %tr.stattotal
          %td{ colspan:"2" } Career Avg
          %td.lline #{number_with_precision(@career_averages.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@career_averages.fga, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@career_averages.fgpct, precision: 3)
          %td.lline #{number_with_precision(@career_averages.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@career_averages.threea, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@career_averages.threepct, precision: 3)
          %td.lline #{number_with_precision(@career_averages.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@career_averages.fta, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@career_averages.ftpct, precision: 3)
          %td.lline= number_with_precision(@career_averages.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@career_averages.trb, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@career_averages.ast, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@career_averages.stl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@career_averages.blk, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@career_averages.fl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@career_averages.points, precision: 1, strip_insignificant_zeros: true)
    %br
    %table{ cellspacing:"0", cellpadding:"2", width:"650" }
      %tbody
        %tr.statthead
          %td{ width:"70" } Total
          %td{ width:"130" } Field Goals
          %td{ width:"85" } 3PT
          %td{ width:"95" } FT
          %td{ width:"75" } Rebounds
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td{ width:"25" } &nbsp;
          %td &nbsp;
    %p.ns
    %table#teamstats.sortable.maintablelr{ cellspacing:"0", cellpadding:"2", width:"650" }
      %thead.statthead
        %tr
          %th{ width:"25" } Season
          %th.sorttable_nosort TM
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th M-A
          %th{ width:"35" } %
          %th{ width:"25" } O
          %th{ width:"25" } D
          %th{ width:"25" } T
          %th{ width:"25" } A
          %th{ width:"25" } S
          %th{ width:"25" } B
          %th{ width:"25" } F
          %th{ width:"45" } P
      %tbody
        - @career_season_totals.each do |stat|
          - stat.calc_percentages
          %tr{class: "#{cycle('even2', 'odd2')}"}
            %td= stat.season_number
            %td= stat.team.abbreviation
            %td.lline= "#{stat.fgm.round}-#{stat.fga.round}"
            %td= number_with_precision((stat.fgpct ? stat.fgpct : 0), precision: 3) 
            %td.lline= "#{stat.threem.round}-#{stat.threea.round}"
            %td= number_with_precision((stat.threepct ? stat.threepct : 0), precision: 3) 
            %td.lline= "#{stat.ftm.round}-#{stat.fta.round}"
            %td= number_with_precision((stat.ftpct ? stat.ftpct : 0), precision: 3) 
            %td.lline= stat.orb.round
            %td= stat.drb.round
            %td= stat.trb.round
            %td.lline= stat.ast.round
            %td.lline= stat.stl.round
            %td.lline= stat.blk.round
            %td.lline= stat.fl.round
            %td.lline= stat.points.round
      %tfoot
        %tr.stattotal
          %td{ colspan:"2" } Total
          - totals = total_stat_lines(@career_season_totals)
          %td.lline= "#{totals.fgm.round}-#{totals.fga.round}"
          %td= number_with_precision((totals.fgpct ? totals.fgpct : 0), precision: 3) 
          %td.lline= "#{totals.threem.round}-#{totals.threea.round}"
          %td= number_with_precision((totals.threepct ? totals.threepct : 0), precision: 3) 
          %td.lline= "#{totals.ftm.round}-#{totals.fta.round}"
          %td= number_with_precision((totals.ftpct ? totals.ftpct : 0), precision: 3) 
          %td.lline= totals.orb.round
          %td= totals.drb.round
          %td= totals.trb.round
          %td.lline= totals.ast.round
          %td.lline= totals.stl.round
          %td.lline= totals.blk.round
          %td.lline= totals.fl.round
          %td.lline= totals.points.round
        %tr.stattotal
          %td{ colspan:"2" } Avg/Season
          %td.lline #{number_with_precision(@average_per_season_totals.fgm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@average_per_season_totals.fga, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@average_per_season_totals.fgpct, precision: 3)
          %td.lline #{number_with_precision(@average_per_season_totals.threem, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@average_per_season_totals.threea, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@average_per_season_totals.threepct, precision: 3)
          %td.lline #{number_with_precision(@average_per_season_totals.ftm, precision: 1, strip_insignificant_zeros: true)}-#{number_with_precision(@average_per_season_totals.fta, precision: 1, strip_insignificant_zeros: true)}
          %td= number_with_precision(@average_per_season_totals.ftpct, precision: 3)
          %td.lline= number_with_precision(@average_per_season_totals.orb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@average_per_season_totals.drb, precision: 1, strip_insignificant_zeros: true)
          %td= number_with_precision(@average_per_season_totals.trb, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@average_per_season_totals.ast, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@average_per_season_totals.stl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@average_per_season_totals.blk, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@average_per_season_totals.fl, precision: 1, strip_insignificant_zeros: true)
          %td.lline= number_with_precision(@average_per_season_totals.points, precision: 1, strip_insignificant_zeros: true)
  %br
  =render "glossary"
.profstats#playerphotos
= javascript_include_tag "activatables"
%script{type: "text/javascript"}
  activatables('page', ['gamelog', 'careerstats', 'playerphotos', 'about', 'splits', 'abcplus']);