<!DOCTYPE html>
%html
  %head
    %title Abc Hoops NYC
    = stylesheet_link_tag  "stats", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link(rel="shortcut icon" type="image/ico" href="/assets/favicon.ico")
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js"}
  %body
    .outerContainer
      %div
        .headerItem.orangeHeader
        .headerContainer
          = render "header"
        .contentContainer
          .rightbar
            .mainContent
              = yield
            .sidebarContent
              .sidebarscrollpane
                = render "sidebar"
              = render "sidebar_bottom"
        .wholeDivider
        .footerContainer
          = render "footer"
      %div{style:"clear:both;"}